[2020-07-09 05:23] AKushWarrior opened #4 "Create TODO.md"
If you want to post a TODO.md, I'd be happy to put some time into this and the other Isar libraries.

I presume that Isar is meant to be "Hive 2.0", essentially Dart bindings to lmdb?

[2020-07-09 20:38] Manuelbaun opened #1 "Maybe Flatbuffers as binary encoder"
Hi @leisim,

it is nice to see, that the successor of Hive is finally coming to life. Recently, I was dealing a lot with serialization and ultimately I came across [flatbuffers](https://google.github.io/flatbuffers). It seems like, that flatbuffers picks up momentum.

What are your thought on flatbuffers as the serialization format instead of an own implementation? The main benefit I see is that i

[2020-07-10 05:03] leisim commented on #1
Hey @Manuelbaun,

Flatbuffers is a great library but I did a lot of research (basically trial and error) when writing the Hive binary encoder. My goal was to make it as fast as possible. It turned out that some of the things Flatbuffers does (for example varints) might be okay in other languages but is very slow in Dart.

I managed to achieve two important goals with the Isar binary implementation

[2020-07-10 14:37] AKushWarrior opened #3 "isar.dev is a blank domain"
Just thought you might want to know. Not sure if it's intended behavior ofc ;)

[2020-07-10 15:01] Manuelbaun commented on #1
I did a simple comparison between `hive binary_writer/reader` vs `flatbuffers` vs `message_pack`. The results can be seen in the readme.md of my repo I created: https://github.com/Manuelbaun/serializer_libs_comparison. Before I ran those tests, I used `dart2native` on my windows machine.

As far as I can tell, I did not really see, that flatbuffer was slower than the hive encoder/decoder. But agai

[2020-07-10 16:33] leisim commented on #1
Very cool! Thanks for comparing the libraries.

I'll need some time to check out your findings and the reason for the results.

Yes, the Isar binary format does not have much in common with the Hive format. Even tho the classes look similar. Field numbers are no longer needed since the schema is known at compile time.

First by type: int, double, bool, string, bytes, List<int> ... this ensures tha

[2020-07-10 18:55] Manuelbaun commented on #1
Yes, please and let me know what you find out. I might have not considered some cases or my assumption of how it works might be wrong. So curious, what you find out.

Yes, that makes sense. It also gets ride of few extra bytes, => smaller => faster 👍

I am not sure if sorting by name will work if you refactor your models. Assume you got the class:
[code]
then you extend it into:
[code]
When you ad

[2020-07-10 20:38] leisim commented on #1
Isar will know that the schema changed when the app is started and migrates all the data to the new schema.

Great, I need help developing isar-web. There are some challenges to solve. Especially because the IndexedDB transactions auto commit. It will be tricky to make them usable with Dart Futures.

[2020-07-10 20:55] Manuelbaun commented on #1
ok that is good to know

I will first fork it, Could you point me to where I should start looking, I've never done something with indexedDb :)

[2020-07-10 21:10] leisim commented on #1
Haha yes, it needs A LOT of work ^^

[2020-07-12 22:48] marcelgarus commented on #1
Whoa, that is impressive. How does that work?
Let's say I rename a field from "foo" to "bar". I see that JSON is generated from the class, so are the two versions somehow compared? And what are the heuristics for determining a migration strategy? Seems super interesting.

[2020-07-13 18:10] leisim commented on #1
Okay sorry I have not been clear and it is not cool at all xD It just notices that you add or remove a field and transforms the existing data to be valid again e.g. it adds or removes the field everywhere.

[2020-07-13 18:11] leisim commented on #1
Because of isar/isar-core#3 we might be forced to use Flexbuffers anyway.

[2020-07-13 18:15] leisim opened #2 "Synchronization"
It was clear from the beginning that Isar should support some kind of synchronization capability. Until now I wanted to implement something similar to dexies sync strategy which provides [eventual consistency](https://en.m.wikipedia.org/wiki/Eventual_consistency) and requires the users to resolve conflicts themselves. It also can lead to some form of data loss in the event of a conflict

But it wo

[2020-07-13 18:19] leisim commented on #2
Also a very interesting approach is the [Gun database](https://github.com/amark/gun).

[2020-07-13 18:31] AKushWarrior commented on #4
That's right. I'll think about that one then :).

[2020-07-13 18:40] AKushWarrior commented on #2
Speaking as a (prospective) user, I think letting users handle sync conflicts is probably the best idea.

I'll read that paper that you posted and come back with further thoughts.

[2020-07-13 18:51] AKushWarrior commented on #2
It's also worth considering the options for future development that CRDTs would provide.

Given that a large percentage of Hive's current users use it as a persistent cache, and that is also the suggested usage of LMDB and IndexedDB, interoperability with foreign databases is high on the list of priorities.

We could also write integrations (or have third-party integrations) into compatible databa

[2020-07-13 18:54] leisim commented on #2
@AKushWarrior Yes, I agree. Strong eventual consistency would allow us to provide "batteries included" integrations without user interference or manual conflict resolution.

[2020-07-13 18:56] AKushWarrior commented on #2
On the other hand, this architecture may introduce problems if the database is not compatible with CRDTs. Given that this is kind of a weedy implementation detail that's not clearly evident to the end user, CRDT might hurt Isar's goal of being user and platform agnostic.

[2020-07-13 19:17] cachapa commented on #2
I have a HLC + CRDT implementation in dart here: https://github.com/cachapa/crdt
Though I suspect that you probably want to implement it in Rust, it might still be interesting as a reference.

Please note that the current implementation does not include node IDs. I'm working on that on branch [2.0.0](https://github.com/cachapa/crdt/tree/2.0.0) - they're relevant in order to perform deterministic c

[2020-07-13 19:18] leisim commented on #2
I think we will have to implement the database integration anyway since there is no standardized protocol to distribute changes across the network. It should be possible to do that with almost any backend database.

Very cool! I'll definitely take a look :+1:

[2020-07-13 19:58] leisim opened #5 "Feature / Idea collection"
- Conflict free sync #2
- Relationship support (how to do it with IndexedDB?)
- Offline first
- Peer-to-peer change distribution
- Schemaless?
- CloudKit integration
- Firebase integration

[2020-07-13 20:07] AKushWarrior commented on #2
Unfortunately true.

On another note, we should look into rust implementations of CRDTs.

[2020-07-13 20:10] AKushWarrior commented on #2
[Sled](https://crates.io/crates/sled) has CDRT support. Might be useful to see it working in a database environment.

There's also a whole bunch of crates for working with CDRT classes.

[2020-07-13 20:14] leisim commented on #2
[Great talk on the topic.](https://www.youtube.com/watch?v=x7drE24geUw)

[2020-07-13 20:18] AKushWarrior commented on #2
Looks interesting. I'll watch it...

[2020-07-13 23:05] AKushWarrior commented on #2
Finished the talk. I wonder if those papers in the references have pseudocode we can use?

[2020-07-14 06:37] leisim commented on #2
The paper I linked before has a [reference implementation](https://github.com/automerge/automerge) and a [port to rust](https://github.com/automerge/automerge-rs).

But we will probably need to come up with a mix of existing solutions. The automerge algorithm for example keeps the entire change history which is not suitable for mobile devices with limited resources.

[2020-07-14 09:15] joe-getcouragenow commented on #2
The first thing i want to say is to know what your objective is. You can do build very different systems with CRDT.

For example an oldie but an old one is Roshi ( https://github.com/soundcloud/roshi ), which uses CRDT Server side as a WAL ( Write Head Log).

A recent one based on IPFS is https://github.com/StreamSpace/ants-db.
See here: https://github.com/StreamSpace/ants-db/blob/master/go.mod#L1

[2020-07-14 09:52] marcelgarus commented on #1
Ah, I see 😅 Still cool

[2020-07-14 10:20] Manuelbaun commented on #2
Hey guys,

recently I was exploring how CRDT can be utilized to build a sync layer. So I did a university project written in Dart. The main purpose was to get some insides of how CRDT works etc and I still have a lot to learn :): If you are interested what I did here is the project:  https://github.com/Manuelbaun/sync_layer_crdt_playground

I used some form of delta state CRDT with HLC and basical

[2020-07-14 10:26] joe-getcouragenow commented on #2
THis discussion is really good !!

[2020-07-14 10:29] Manuelbaun commented on #1
I have not tried out the FlexBuffers yet. I am curious, how they compare to the plan Flatbuffers.
But I was looking a bit more into the Flatbuffer generated code:

[code]

If you want to access the attribute from the buffer, you call the Reader and then vTableGet method. The problem I see here now is that the vTableGet will convert the value from the buffer on every access of the class attribute.

[2020-07-14 10:38] Manuelbaun commented on #1
I was looking at objectbox and as far as I understand, you provide the flatbuffers IDL file and it generates the db internals tables, etc for you. Do you think, it is also an option to look at?

[2020-07-14 10:42] joe-getcouragenow commented on #2
This is normal. WebRTC will not work if either party is behind a Symmetric Router. See: https://superuser.com/questions/1525664/how-to-fix-symmetric-nat-router-router

Most Governments runs Cisco stuff and its Symmetric. i see this all the time.

The solution used by Google and everyone is to have a Relay Proxy for when one party is behind a Symmetric Router.
This a standard part of a WebRTC Setup

[2020-07-14 11:11] leisim commented on #2
@joe-getcouragenow Thanks for all the resources and topics to think about. I'll take me some time to explore all of them and properly respond.

Why does the database need a WAL? Isn't any kind of transaction mechanism sufficient?

LMDB is incredibly fast and should be able to handle the log.

Yes I agree but I still hope that we can create a system that can rely on pure p2p if necessary. These net

[2020-07-14 11:14] leisim commented on #2
@Manuelbaun Thanks, this looks very interesting. We'll probably still end up implementing it in Rust and JS respectively.

[2020-07-14 11:36] leisim commented on #1
FlexBuffers allows schemaless object. This will be required if we decide to use some kind of p2p sync. Imagine the following objects of two peers with differen app versions:
[code]

[code]

If the two peers synchronize, the older one would drop the age field when the data is stored in its local database. Once the v1 peer updates to v2, the existing data will still miss the age field. In order to p

[2020-07-14 12:46] joe-getcouragenow commented on #2
Well it depends what your building. In the README there is not actual definitive statement of the thing your building so i had to guess a bit.

SO sometimes, on the Server you want a WAL that then takes the Event Stream and materialises your KV Tables ready for non CRDT usrs to be able to do a RPC query on that. Its CDC ( Chaneg Data Capture) but in reverse. SO its essentially KAPPA.

On the Clien

[2020-07-14 13:16] leisim commented on #2
https://blog.sqreen.com/webassembly-performance/

The context is communication with JavaScript or any Browser API. WASM cannot even do network calls without sending the data through JavaScript afaik.

But network calls will be made by Rust anyway. It is not important whether Dart communicates via Dart > Rust or Dart > Java > Rust.

Protobuf /  Cap'n Proto etc. can be used by Rust anyway.

[2020-07-14 14:01] Manuelbaun commented on #2
yeah, I also would not recommend to implement it in Dart. It was ok for a prototype. Before I started to implement it, I was thinking of doing it in Rust, since there are already some CRDTs implementations to use.

I regard to the garbage collection of crdt:

the author of yjs, Kevin Jahns, did implement a snapshot feature. I have not looked into it, how he did it, but you can see it on his websit

[2020-07-14 14:07] AKushWarrior commented on #2
I think something that we should consider is forking automerge and seeing how integrated/easy to remove the change history is. As far as I can tell, it seems to be the foremost technology in the field of CRDTs.

I have no comment on the architectural (rust ffi vs WASM) stuff yet, I need to read up a bit.

[2020-07-14 15:49] leisim commented on #2
Unfortunately this is more of a conceptual problem then a coding problem. Automerge and most other CRDTs use the log to guarantee divergence in the case of network partition (e.g. a peer goes offline and commits concurrent changes)

[2020-07-14 15:57] AKushWarrior commented on #2
Maybe I'm missing something here. Why would we want to "guarantee divergence"? Isn't the whole point to reconverge when the peer goes back online?

[2020-07-14 16:48] leisim commented on #2
Sorry, avoid divergence, guarantee convergence :D

[2020-07-14 17:04] AKushWarrior commented on #2
Sure, but there's no need for a permanent log. Just a log of every change since the last convergence event, right?

[2020-07-14 20:30] Manuelbaun commented on #2
If your app only communicates with a server to sync, then I think it is ok to only persist the logs since the last sync, and after successful sync, you can delete those logs.

It gets a bit more tricky if you want to support a P2P setup. If several nodes, let's say A, B, C mutate data offline and then node A syncs with Node B. Node A and B are in the same state now. If they would now delete the lo

[2020-07-14 20:57] leisim commented on #2
Maybe a good compromise would be to introduce a parameter `Duration keepHistoryFor` which could be either `null` for I define storage, 0 for immediate deletion after sync to server or something else for p2p. The developer probably knows the situation best and if there is a good explanation in the docs, it could work well...

[2020-07-14 21:17] AKushWarrior commented on #2
As long as it's very clear that changes will be wiped after that duration, I agree.

It's important that the default is keep the changes indefinitely though, to avoid unpredictable behavior when syncing.

[2020-07-14 22:52] drmirk commented on #5
Merge one box into another.

[code]

With an optional parameter to solve merge conflicts.

[code]

[2020-07-15 00:11] AKushWarrior commented on #2
Okay, I think we have a (general) plan.

TODO:
- Fork https://github.com/automerge/automerge/tree/performance and https://github.com/automerge/automerge-rs
    * Support change history wiping as discussed above
- Provide hooks for sync using the forked libraries
    * We will have to do this in the Dart layer, not in the native/web layers
    * Automerge-rs has only reached FFI maturity, meaning t

[2020-07-15 12:14] Manuelbaun commented on #1
I added flexbuffers to my benchmark. So far I only got the Object Reference working. When I manually encoded an object via Flexbuffers, It did not work to use the `Reference.fromBuffer()`

[code]

When a schemaless serializer should be used, then I think at the moment, MessagePack is a better option. It produces a much smaller binary size and also does it faster. And it is also ported in many diff

[2020-07-15 19:51] frank06 commented on #4
Happy to see you @leisim in open action again! 🎉

If this is of any help, I see how you could focus on core features (like #2 - fantastic!) and let third party libraries implement higher level features?

Fwiw, I implemented [relationships in Flutter Data](https://flutterdata.dev/data-support/relationships/) using a global bi-directed graph notifier. It works with Hive as local storage, but without

[2020-07-15 22:22] AKushWarrior commented on #4
The problem is that this is still inefficient on web because IndexedDB has NO parallelization whatsoever. Thus, providing relationships would only be helpful on native, which goes against the stated purpose of cross platform feature parity.

On the other hand, I fully agree that some features (ex. foreign database integration drivers) should be abstracted into other libraries.

[2020-07-15 23:51] frank06 commented on #4
Interesting, I never worked with IndexedDB. So if I had a to-many relationship modeled using a foreign key, issuing a query with a where clause on that PK is inefficient?

[2020-07-15 23:59] AKushWarrior commented on #4
I had a diagram somewhere I sketched out, of sample relations and how internal architecture affects them. Let me see if I can dig it up.

[2020-07-16 00:02] leisim commented on #2
[Almost complete collection of research on CRDTs](https://github.com/ipfs/notes/tree/master/CRDT)

[2020-07-16 02:26] AKushWarrior commented on #2
Very cool. I'm reading through the papers now...

[2020-07-16 05:04] AKushWarrior commented on #5
@drmirk @leisim this is trivial if we implement #2 correctly. Merge conflicts will be resolved automatically; we can look into users overriding that functionality.

[2020-07-16 05:05] AKushWarrior commented on #5
RE integration: we should sample some other integrations. Things like Redis, memcached, etc. have similar architectural goals.

[2020-07-16 05:10] AKushWarrior opened #6 "Achieve feature parity (or near-parity) on web"
Right now, the web repository is empty. We'll need to work on that ;)

We'll need to investigate the practicality of various things with IndexedDB. The main semantic effort will be creating a dexie-esque library which uses automerge CRDTs under the hood.

[2020-07-16 05:53] AKushWarrior commented on #4
Okay I found the diagrams, but they're more or less incomprehensible. Some notes I pulled off them:
- There are two purposes to relationships: maintaining referential integrity and performance improvements.
   * Referential integrity improvements don't really make sense in the context of a NoSQL database.
   * It's impossible to implement relationships (AFAIK) in a manner beyond the naive:
      -

[2020-07-16 06:03] AKushWarrior commented on #4
@frank06 maybe we should relocate this discussion to #6 :)

The todo.md is done, so I'm closing this.

[2020-07-16 06:03] #4 closed

[2020-07-16 06:09] AKushWarrior commented on #2
@leisim done reading through them. I haven't really been enlightened or anything, but I might be able to parameterize this issue better now. As I can see it, there is a few use cases:

- Merge an Isar-Web db with an Isar-Native db
- Merge an Isar-Web db with an Isar-Web db
- Merge an Isar-Native db with an Isar-Native db
- Merge an Isar-Web/Native db with arbitrary foreign db

The last one is by f

[2020-07-16 14:44] frank06 commented on #6
Re: relationships in IndexedDB

Right, I think that is attempted here: https://github.com/ignasbernotas/dexie-relationships/blob/master/src/index.js

As you say, those are not "real" relationships strictly speaking and performance might be subpar (makes sense it doesn't make it into Isar) but as a third party module they do bring convenience. These same third-party tools, in their scope, can also

[2020-07-16 15:24] AKushWarrior commented on #6
I can see the idea here. I think that having external libraries, which function primarily as a wrapper over Isar, could be helpful (especially considering how fast Isar will be on native). On the other hand, that might not be the foremost concern (for now).

[2020-07-16 15:29] drmirk commented on #5
@AKushWarrior After posting, I thought that too. But I kept it,  thinking this might give someone some idea. 😁😁😁

[2020-07-18 00:36] AKushWarrior commented on #2
@leisim thoughts here? I'd be happy to start writing a port of automerge, in either Dart or Rust.

[2020-07-20 15:36] omidraha commented on #2
Hi,
I read this [topic](https://github.com/hivedb/hive/issues/246),
And I have a syncing experience for the mobile app that I developed as `Offline-First Mobile` .
Server side db is `PostgreSQL`  and client side db is [Realm-DB](https://github.com/realm/realm-java)
Actually `Realm` support syncing itself by [realm-object-server](https://github.com/realm/realm-object-server) ,
But I would like to h

[2020-07-20 15:59] AndryHTC commented on #2
Thanks to everybody that is doing efforts for this new thrilling project.

@omidraha I've done a similar Sync Engine with completely personalized back-end and front-end. My solution is a little bit more comprehensive, but also more complicated and counterintuitive (because of the nature of the system), so I will continue the discussion with your solution.

I have a few questions though:
- How does

[2020-07-20 17:15] AKushWarrior commented on #2
We would record the changes to the database, and transmit the change history.

The change history, in our model, can optionally represent only the changes in the last (user-defined period of time). This helps limit the amount of data transferred over networks.

Not an architectural decision that should be made by a client side database. The user is free to implement this functionality if they wish

[2020-07-21 09:12] AndryHTC commented on #2
OK So, I know you plan to transfer only the changes but... I mean another thing... Let me be more clear:
What about the data that are unuseful for the clients? This still could be a problem with projects with very complicated business domains: Let's say that there are tables with 10+ millions of records, with thousands of changes every minute... would the sync engine still sync ALL the changes to

[2020-07-24 17:30] leisim commented on #2
I'm still experimenting with different solutions... I have no definitive ideas yet.

I completely agree.

This could for example be solved using vector clocks so the client can tell the backend its last state and the backend can only send the changes.

I don't think this should be part of the implementation but rather be handled by the user. Maybe we can add the option for a TTL for entries?

With

[2020-07-24 18:06] AKushWarrior commented on #2
@leisim I agree that pub-sub is a cool (and probably necessary) addition here. I'd suggest another term: selective sync.

My reasoning is that pub-sub has stream processing implications, which many people have tried (and failed) to implement efficiently on top of relational databases. We aren't really providing data streams to subscribers; instead, we are allowing CRDT merging on some attributes i

[2020-07-24 18:21] leisim commented on #2
Could you please briefly explain what you mean by this? Are there resources on this topic?

[2020-07-24 18:30] AKushWarrior commented on #2
I totally made the term up, as an alternative to pub-sub. In my mind, what this looks like is:
- the user passes a where clause
- The where clause is run on both the foreign and local database; the resultant of both are merged using CRDT.
- The merge then is written over the correspondent rows in the local database (which have been temporarily earmarked by the original where clause)

This is a pre

[2020-07-27 09:47] medmedmedic commented on #2
Hi this not a place for such a comment, but I guess you can delete this after reading as unrelated.  I am a medical teacher and newbie to programming started with flutter. Excited to see the solution to some of my problems

You are solving a genuine problem. So far I have not found a query efficient database in a flutter. Medical student's use-case is searching through a large textual database, ev

[2020-07-27 14:32] AKushWarrior commented on #2
Thanks for the kind words! Until the underlying P2P architecture is solved, the database itself can't be written, so this project is on hold until a plan is decided regarding this issue. There is a TODO.md in this project, which you can look at.

[2020-08-02 15:28] drmirk commented on #5
Please make box names case sensitive.

Originally I requested this in, [https://github.com/hivedb/hive/issues/338](Hive)

[2020-08-29 13:31] TomasWeg commented on #5
@leisim Add per-folder instance. For example, one Isar instance for cache folder and another for app-data

[2020-08-29 23:07] AKushWarrior commented on #5
The user provides a path to the database. If you want a database in a folder, just pass that folder.

[2020-10-17 14:59] dgandhi17 opened #7 "Will these compete with graph like db as well ?"
Wanted to know whether this will complete with graph dbs where relations are first class citizens.

[2020-10-17 15:47] leisim commented on #7
I have not completed development of relationships yet. While Isar will not be a Graph database, maybe we can still cover your use case.

Could you please describe what you had in mind? Maybe even a query :+1:

[2020-10-18 06:18] dgandhi17 commented on #7
I have my app where I need queries to be fast enough between nodes. And that is only possible if the underling structure is native graph. In your design is it possible that if we configure db it will behave as graph?

[2020-10-18 07:29] leisim commented on #7
It would help a lot if you could provide a small example of the data you want to store. Maybe also how you plan to query the data. Just something very simple to give me an idea what you are trying to achieve.

[2020-10-19 05:47] dgandhi17 commented on #7
find(person).where(address="").and(ingroup="").and(fieldfilter="").list(),   this is a sample query. it will be get complex if i add property level filter. The query above is simple and at node or edge level only.

[2020-10-19 06:47] leisim commented on #7
This query is very to represent using Isar.

[2020-11-05 07:43] morr0ne opened #8 "Using isar outside of dart?"
I wanted to open this on [isar-core](https://github.com/isar/isar-core) but issues seem to be disabled
Being that isar is written in rust, a relatively low-level system programming language, would it be possible to be used in another context? E.g. rust application, binding to other languages, or has it been strictly written for use on mobile and web apps?

[2020-11-05 10:19] leisim commented on #8
Yes, I definitely plan to allow standalone usage of isar core. Currently it is not ready yet however. It will work very well on mobile phones, desktops etc. In theory, it should also be a good fit for servers but I need to do a lot of testing to confirm that.

[2020-11-05 13:52] morr0ne commented on #8
Is there a particular reason issues can't be open on isar-core?

[2020-11-12 12:47] dgandhi17 commented on #7
Anyway if you are providing a query language, how about graphql query ?

[2020-11-26 17:18] leisim commented on #8
No I'll change that.

[2020-11-26 18:37] morr0ne commented on #8
Would it make sense to move this issue on isar-core in case further discussion is needed in the future?

[2020-11-26 19:22] leisim commented on #8
Yes I'll do that but I already planned supporting isar core as standalone

[2021-01-01 13:20] #7 closed

[2021-01-04 10:35] leisim commented on #1
This is obsolete since Isar has some special requirements that need a custom format.

[2021-01-04 10:35] #1 closed

[2021-01-04 10:50] leisim commented on #5
Closing this in favor of GitHub discussions.

[2021-01-04 10:50] #5 closed

[2021-01-10 13:56] davystrong opened #12 "Desktop support"
Do you plan to add support for Windows/Linux/Mac to Isar? This seems like a good fit for a project I'm planning but it would need to have desktop support. You mention that it will be multiplatform in the README, but only mention Android, iOS and Web.

[2021-01-10 18:47] leisim commented on #12
@davystrong yes definitely. There are already [binaries for Isar Core](https://github.com/isar/isar-core/releases/tag/0.0.3) and they just need to be copied in the correct directories. I didn't have time to test Isar on desktop yet so I didn't include the binaries by default.

[2021-01-10 19:10] davystrong commented on #12
Ok, great! Hadn't noticed those. Thanks for the quick reply!

[2021-01-11 03:43] dgandhi17 opened #13 "Can you add how much is pending to be near stable 1.0 ?"
It will be good if you can add missing things to get stable 1.0, so that people will start help you out because most of people are eagerly waiting for such kind of DB

[2021-01-11 10:53] leisim commented on #13
@dgandhi17 Good idea, I'll definitely draft a roadmap. But to be considered stable, we also have to let some time pass and collect feedback from the first users.
I hope to release a reliable beta version in Q1 2021 and a stable version 1.0 in Q2 2021.

[2021-01-12 13:46] dgandhi17 commented on #13
Well I will try to play with this db as I am planning to use it in future.

[2021-01-14 13:35] dgandhi17 opened #14 "Add a sample project"
Can you add a sample flutter project, as I am facing couple of challanges between flutter version/null safety as the library depends on path_provider.

**Error:**
[code]

[2021-01-14 15:04] leisim commented on #14
Will do ;)

[2021-01-16 05:57] Abhishek01039 commented on #14
Thanks @leisim

[2021-01-16 06:01] Abhishek01039 commented on #14
<img width="659" alt="image" src="https://user-images.githubusercontent.com/56479665/104798610-508a3580-57ee-11eb-9a2b-1d6d7cc5403b.png">
Getting this error

[2021-01-16 08:41] leisim commented on #14
@Abhishek01039 No you need to import it

[2021-01-16 09:05] dgandhi17 commented on #14
@Abhishek01039  that .g.dart file will get generated on top of your collections once you run build_runner. and than you can use openIsar()

[2021-01-18 07:45] cachapa opened #15 "Pure Dart support"
I just played around with the current state and noticed that the generator imports Flutter packages, specifically `path_provider` and `flutter` even though my project doesn't depend on `isar_flutter`.

Is pure Dart support planned? That's one of the great things about Hive that I would like to see continued here if possible.

[2021-01-18 08:04] leisim commented on #15
@cachapa It is possible to use Isar with Dart only. The unit tests do that for example.

The isar_flutter package contains the binaries of isar_core. But you can also provide them yourself. I'll document how to do that 👍

[2021-01-19 15:20] cachapa commented on #15
Ok thanks. I did see the unit tests but was confused because the generator in my dart-only project generated those flutter dependencies.

[2021-01-19 15:55] leisim commented on #15
The generator has a flutter option. Add this to your build.yaml to disable it:
[code]

Example: https://github.com/isar/isar/blob/main/isar/build.yaml

[2021-01-25 12:12] #3 closed

[2021-02-03 08:09] dgandhi17 opened #22 "Benchmarks"
You might wanna to look at this link for the benchmarks of existing flutter/dart database against Isar version.

https://objectbox.io/objectbox-dart-flutter-v0-11-database-performance-relations/

[2021-02-07 21:12] leisim commented on #13
Here are the next todos. I'll extend this over time: https://github.com/isar/isar/blob/main/TODO.md

[2021-02-07 21:12] #13 closed

[2021-02-16 16:44] enzotar commented on #22
In addition to benchmarks, it would be interesting to see the differences between Objectbox and Isar.

[2021-02-23 22:56] listepo commented on #2
I think having abstractions for synchronization would be wonderful. GRPC, GraphQL, Websockets, Swagger, and more.

[2021-02-23 23:44] leisim commented on #2
@listepo I agree 100% but it's hard to find an API that's flexible enough and not too complicated. Do you have a suggestion?

[2021-02-23 23:48] listepo commented on #2
@leisim I have a couple of ideas to think about, I hope there will be something to discuss

[2021-02-24 00:07] listepo commented on #2
@leisim I would like to have `relationships` before going into `sync` detail.

[2021-03-07 20:18] DevNico opened #28 "Tests badge points to hive"
Title says it all. The tests badge in the readme points to hivedb tests.

[2021-03-08 00:25] leisim commented on #28
@DevNico Good catch, thanks

[2021-03-08 20:50] #28 closed

[2021-03-15 15:55] michalisioak opened #32 "support for Map(/embedded) field"
do you plan to add support for embedded or map field?

[2021-03-15 17:17] leisim commented on #32
What do you mean by "embedded field"?

[2021-03-16 11:01] michalisioak commented on #32
something like mongodb's embedded document / field

what I am suggesting is a type converter for classes (maybe with its annotation)

for example a usecase would be if you wanted to store a one to many or one to one relationship
in my usecase, I need it to store items and translation of those items

[2021-03-16 11:15] michalisioak commented on #32
I made a somewhat implementation of map field in [this](https://github.com/michalisioak/isar).
All I have done is to make the map to json string via dart's jsonEncode(Decode) and then store it as Uint8List.

This may prohibits some operations like filtering or getting lazily data from the map (as it has, to my understanding, load all the map to access its members)

PS. I have removed the packages'

[2021-03-16 11:30] leisim commented on #32
@michalisioak Okay I understand what you mean. You have two options:

You can either use an [`IsarLink`](https://isar.dev/links) to store an embedded object. Currently you have to delete it yourself if you delete the parent object but you can use it in queries.

The other option is to use [`TypeConverters`](https://isar.dev/type-converters) which allow you to convert your object to a json string o

[2021-03-16 12:12] michalisioak commented on #32
ok, thanks

[2021-03-16 12:16] leisim commented on #32
@michalisioak Does that work for you?

[2021-03-16 17:12] michalisioak commented on #32
theoretically, yes
practically, I have not tried it yet

[2021-03-17 11:53] erf opened #33 "no openIsar on dart project"
**Steps to Reproduce**

I tried `isar` in a dart project (not Flutter), so i only included the `isar` dep and noticed that `openIsar` was not defined.

**Code sample**
[code]

**Version**
 - Platform: Mac
 - Flutter version: 2.0.2
 - Isar version: 0.1.0
 - Isar Generator version: NA

[2021-03-17 14:36] leisim commented on #33
@erf It should be generated by the `isar_generator`. You then need to import it from `isar.g.dart`

[2021-03-17 14:55] erf commented on #33
Ah, ok. So `isar` can't store primitive Dart objects?

Btw i noticed a dependency conflict with `Hive`.

[code]

[2021-03-17 16:00] erf commented on #33
Ok thanks. I will test this later and close. Intuitively it seem a bit odd to me that such an important Api comes from generated code, but i will look into this later :)

[2021-03-17 16:11] leisim commented on #33
The reason is that it "magically" initializes all your collections without any configuration needed ;)

[2021-03-17 16:15] hosseinhadi opened #34 "Getting Error : 'The plugin `isar_flutter_libs` doesn't have a main class'"
**Steps to Reproduce**

When I try to `pub get` , I get this error :
[code]
And the process of getting package terminates.

**Code sample**
My `pubspec.yaml`
[code]

**Version**
My `flutter doctor`:
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 2.0.1, on Microsoft Windows [Version 10.0.19042.867], locale en-US)
[√] Android toolchain - develop for Android

[2021-03-17 17:44] leisim commented on #34
Thanks for reporting, I'll take a look

[2021-03-17 19:11] erf commented on #33
I tried to generate the code now. My code resided in a `bin` folder. I had to create it's own file and move it to a `lib` folder for it to generate. Also I had to add `part '../post.g.dart';` like with `json_serializable`. Maybe the instructions could be clearer here. Also the generated file is `null-safe` even though my project is not.

[2021-03-17 20:54] leisim commented on #33
Thanks I'll work on those issues :)

[2021-03-18 17:34] nnior opened #36 "Dynamic location of the generated file "isar.g.dart""
Currently when "flutter pub run build_runner build" is executed, the file `isar.g.dart` is generated in the `LIB` folder. This works fine, but when working under some architecture such as ddd, each file has to be placed within a corresponding folder to be able to respect the principles of architecture.

Currently I have manually moved the file `isar.g.dart` to the corresponding folder, for example

[2021-03-22 22:17] listepo commented on #2
@leisim what do you think about https://nozbe.github.io/WatermelonDB/Advanced/Sync.html ?

[2021-03-22 23:58] leisim commented on #2
@listepo Sorry I must've missed your previous posts.

Great let's definitely do that. I need input and ideas because I want to make sync as universal as possible.

Done :) [IsarLinks](https://isar.dev/links) are implemented

That looks very interesting and I like the fact that developers can implement the actual sync themselves. We could provide examples for common backends. The only issue I see h

[2021-03-23 07:41] listepo commented on #2
@leisim we can detect conflicts and provide an opportunity to resolve them by the method `resolveConflicts`. Manual resolved results or `current`, `incoming`, `abort` changes like `merge conflicts`:)

[2021-03-23 09:24] listepo commented on #2
@leisim what do you think?

[2021-03-23 12:49] leisim commented on #2
@listepo Could you maybe share a small code sample how that would work?

[2021-03-23 21:10] listepo commented on #2
@leisim yes, I will try to find time this weekend

[2021-03-25 16:59] DarkHeros09 opened #38 "isar_generator is incompatible with multipule packages."
**Steps to Reproduce**

installing the following packages:
- dependencies:
    freezed_annotation: ^0.14.1
    isar: ^0.1.0
    isar_flutter: ^0.1.0

- dev_dependencies:
  build_runner: ^1.12.2
  freezed: ^0.14.1+1
  isar_generator: ^0.1.0
  json_serializable: ^4.0.2

**Error sample**
This is the error message i get:
[code]

and if  change the dependencies version of [freezed, freezed_annotation,

[2021-03-25 17:59] leisim commented on #38
I'm almost finished with the new version. I will publish this weekend ✌️

[2021-03-25 18:10] DarkHeros09 commented on #38
Great, thank you all for your efforts. 🙏

[2021-03-26 23:51] leisim commented on #38
New version released 💪

[2021-03-26 23:51] #38 closed

[2021-03-26 23:51] leisim commented on #34
Could you please test the new version? It should work now :)

[2021-03-26 23:51] #34 closed

[2021-03-27 12:21] DarkHeros09 opened #39 "Bad state: No element. (final properties not supported)"
Hi

I'm getting this error when i run the build_runner, i don't know if I'm doing something wrong here, or there's an issue.

**Error log sample**
[code]
**Steps to Reproduce**
Product_model.dart
[code]

which is extended from product
[code]

**Version**
 - Platform: Windows
 - Flutter version: 2.0.3
 - Isar version: 0.20
 - Isar Generator version: 0.2.0

[2021-03-27 12:46] leisim commented on #39
@DarkHeros09 Could you please rerun the generator with the `-v` argument and post the error here?

[2021-03-27 12:50] DarkHeros09 commented on #39
flutter pub run build_runner build --verbose --delete-conflicting-outputs

[code]

[2021-03-27 12:50] leisim commented on #39
Thank you I'll try to reproduce it :)

[2021-03-27 12:51] DarkHeros09 commented on #39
you're welcome, good luck.

[2021-03-27 12:54] DarkHeros09 commented on #39
here's product_color.dart

[code]

and product_color_model.dart
[code]
if you want to reproduce it accurately.

[2021-03-27 13:01] leisim commented on #39
I think I have found the issue (definitely need to work on error messages): Isar currently does not support final properties. It's something that I have planned but there is still some work to do.

[2021-03-27 13:04] DarkHeros09 commented on #39
Great, glad you figured it out, btw will i be able you use json_serializable along with isar?

[2021-03-27 13:13] leisim commented on #39
I have not tested that but I definitely intend to support `json_serializable` and `freezed?.

[2021-03-28 12:14] gedw99 opened #40 "Materialised views and one way sync"
Checkout https://github.com/MaterializeInc/materialize.

its 100% rust too

it allows materialised views with mutations pushing out a change event.

there are various things you could use it with Isar to make it reactive.

Have a PostgreSQL dB on the server and create materialised views that get synced with Isar

Or / also embed it with Isar to have the same functionality on the client

Timely dat

[2021-03-28 14:48] leisim commented on #40
This looks very interesting. I'll definitely evaluate integrating it :+1:

[2021-03-28 19:21] listepo commented on #2
@leisim
[code]

[2021-03-28 19:24] listepo commented on #2
link with models
[code]

[2021-03-29 11:03] srix55 commented on #15
Glad I found this. I was looking for a pure dart version too.

[2021-03-29 12:08] srix55 commented on #15
Okay... I got the .so files github location. Looks like we don't have linux binaries? I anyways tried the android ones and got read errors.
[code]
Got the following errors on trying the x64 one
[code]
How to go about for Ubuntu?

[2021-03-29 12:16] srix55 commented on #15
Never mind. Got the linux .so from the tests. It's working fine for me now.
binary: https://github.com/isar/isar-core/releases/download/0.1.9/libisar_linux_x64.so

[2021-03-30 06:05] leisim commented on #15
Thanks to @srix55 the docs are [updated](https://isar.dev/recipe_pure_dart) and this issue can be closed

[2021-03-30 06:05] #15 closed

[2021-04-01 09:33] srix55 opened #43 "Isar generation when collections are in multiple dart packages"
When there are multiple packages with a set of collections each, for a single isar instance, we have to manually merge the generated isar code from each of the packages

There should be a way to tell the code generator to consider the generated isar code from other packages.

[2021-04-01 09:46] leisim commented on #43
That's not as easy as it sounds because the build runner runs for different packages are independent.

Could you give an example why you need to use Isar in a package?

[2021-04-01 09:49] srix55 commented on #43
In my case, the pure-dart package auth_persistence and inventory_persistence each contain their domain specific collections that only make sense for their respective packages. A logical separation of concerns.

[2021-04-01 20:51] leisim commented on #43
Oh so you split your app into several packages. I think that's rather unusual but I'd love to hear reports from other users. I have no idea how we could support multiple packages to be honest. Maybe you have an idea.

[2021-04-02 07:33] dgandhi17 opened #46 "Unable to connect to isar connect"
**Steps to Reproduce**
Simply run the isar inspector
copy the url from your application
press connect

Error:
flutter: isolates/1011297615749035
flutter: ERROR: Unable to connect to VMService
flutter: ext.isar.getVersion: (-32601) Unknown method "ext.isar.getVersion".

**Version**
 - Platform: iOS, Android, Mac, Windows, Linux, Web
 - Flutter version: stable channel with null safety enable
 - Isar

[2021-04-02 08:48] Sadmansamee opened #47 "path_provider dependency isar_flutter >=0.0.4 depends on isar 0.0.4 and isar_flutter <0.0.4 depends on path_provider ^1.6.24, path_provider ^2.0.1 is incompatible with isar_flutter"
**Steps to Reproduce**

**Code sample**
[code]

**Version**
 - Platform: iOS
 - Flutter version: 2
 - Isar version: 0.0.4
 - Isar_flutter >=0.0.4

[2021-04-02 10:13] leisim commented on #47
@Sadmansamee You should try a newer version of Isar :)

[2021-04-02 11:43] Sadmansamee commented on #47
Thanks, I missed the latest version point :)

If my projects will go live 3-4 months later then is this library safe to use?

[2021-04-02 11:49] leisim commented on #47
Definitely. There will be a few minor API changes but that's it.

[2021-04-02 12:07] #47 closed

[2021-04-02 12:09] Sadmansamee commented on #39
I look forward to to json seriazble and Freezed. Really need it @leisim

[2021-04-02 12:11] leisim commented on #39
@Sadmansamee I'm currently working on query modifiers and aggregation but it will be prioritized after that.

[2021-04-03 03:01] Aljabri-Salman opened #48 "Failed to load dynamic library"
Hi,
unable to load the library on windows. I am getting:
[code]
**Version**
 - Platform: Android, Windows 64 bit,
 - Flutter version: [2.0.4]
 - Isar version: [0.2.0]
 - Isar flutter lib version: [0.2.0]
 - Isar Generator version: [0.2.0]

Should I download the library manually? if yes what path should it be on windows.

[2021-04-03 06:45] leisim commented on #48
@Aljabri-Salman On which device does this error happen?

[2021-04-03 07:04] Aljabri-Salman commented on #48
last device I tried was Windows but I had the same error on Android emulator

[2021-04-03 08:48] leisim commented on #48
@Aljabri-Salman

Desktop binaries are not included by default yet. You can include them yourself.

Did you use an x86 or x64 Android emulator? Isar only supports 64bit devices.

[2021-04-03 21:13] Aljabri-Salman commented on #48
@leisim I am using LDplayer 64 bit as android emulator. I just tried it on a real android device and it seems to work fine.
could you tell me how to add the binaries to windows. I downloaded this file
[code]
But have no idea where it should be.

[2021-04-04 08:28] leisim commented on #48
@Aljabri-Salman I think you need to distribute the dll in the same directory as your windows executable. I'll provide detailed documentation in a few days.

[2021-04-04 10:58] listepo opened #55 "Migrations and post-migration callbacks"
I would like to have a mechanism for schema/data migration
like https://moor.simonbinder.eu/docs/advanced-features/migrations/#post-migration-callbacks
and https://docs.mongodb.com/realm/sdk/react-native/examples/modify-an-object-schema

[2021-04-04 11:14] leisim commented on #55
@listepo I thought about it but didn't come up with a feature that could not be implemented by the users themselves very easily.

Isar does migrate your models (like removing fields or creating an index) and you can just store the version of your data in shared preferences and do data migration yourself.

Do you have a suggestion how Isar could simplify migration?

[2021-04-04 11:41] listepo commented on #55
How fast will the migration of millions of records be? can the shared preferences fit all this data?

I am afraid that this may lead to the loss of user data if errors are made in the code

I like how it works in https://docs.mongodb.com/realm/sdk/react-native/examples/modify-an-object-schema/ and post-migration callbacks in https://moor.simonbinder.eu/docs/advanced-features/migrations/#post-migra

[2021-04-04 12:20] leisim commented on #55
@listepo

That's not what I mean. You can just store the version of your data in shared preferences (like "v6") and before you use the database you check the version in shared preferences and perform the required migrations. It allows you to implement "pre and post migration callbacks" like moor.

The document you liked from the realm docs is unnecessary in Isar. Everything is done automatically w

[2021-04-04 12:30] listepo commented on #55
@leisim thanks for clarifying, I will try to follow your recommendations

[2021-04-04 12:30] #55 closed

[2021-04-04 12:35] leisim commented on #55
@listepo please let me know if I can somehow simplify schema or data migration

[2021-04-04 12:51] listepo commented on #55
@leisim I am thinking of a package that would provide a simple api to implement the above: saving the database version, provide beforeOpen hook or something similar

[2021-04-04 12:53] leisim commented on #55
@listepo That's a great idea for a package. The reason why I'm hesitant to implement it into Isar is that I don't want to complicate the API with opinionated features.

[2021-04-04 14:07] dgandhi17 opened #56 "Don't see .sortBy(), .sortByDesc(), .thenBy() and .thenByDesc() option on the collection where clause"
Not able to do the .sortBy(), .sortByDesc(), .thenBy() and .thenByDesc() operation as the methods are not there for the
collection as mentioned in documentation https://isar.dev/queries Sorting. Did you removed it?

@leisim

[2021-04-04 14:41] leisim commented on #56
😱😅 They are not implemented yet. Core already supports sorting I just need to provide these methods in the code generator. I'll implement them for the coming new version.

[2021-04-04 14:42] leisim commented on #56
Here is the problem: https://github.com/isar/isar/blob/main/packages/isar_generator/lib/src/code_gen/query_sort_by_generator.dart

[2021-04-04 14:48] dgandhi17 commented on #56
@leisim  I was going through documentation for queries helper method and find out that those are not available. Thought am i doing anything wrong or what is the reason.

[2021-04-04 14:49] dgandhi17 commented on #56
By the way can you update the document to match with the version supports ? Last week only I started a big project that has around 15+ collection and I will need good documentation to get help.

[2021-04-04 14:54] leisim commented on #56
You mean provide a way to view docs for an older version? I'm not sure if that's possible with docusaurus. I'll try to implement it. The docs are lacking anyway. I'd be grateful for some community help :)

[2021-04-04 15:06] dgandhi17 commented on #56
Well only the core developers will know what is being implemented and working. I mean to say the version 0.2.0

[2021-04-06 03:26] cenumi commented on #43
Maybe add type adapters after openIsar manually just like hivedb?
void main( ) async{
  final isar = await openIsar();
  isar.addTypeAdaper(TypeAdapter());
}

[2021-04-08 12:27] dgandhi17 opened #59 "Unhandled Exception: IsarError: LmdbError (12): "Cannot allocate memory""
I simply ran the app which tries to open the isar it is random.
Note : My iPAD has enough storage in GBs.

Having 15+ tables and 7k+ records overall.

[2021-04-08 12:35] leisim commented on #59
@dgandhi17 That's weird. Does the same error happen on an iPhone? Does it happen randomly or is it reproducible?

[2021-04-08 14:12] dgandhi17 commented on #59
Its random only. Ipad mini 4.
I don't have iPhone, testing on iPhone simulator didn't happen.

[2021-04-08 14:45] leisim commented on #59
@dgandhi17
Would be amazing if you could help me to reproduce this. Did you have maybe observe a pattern? Maybe you could even create a small sample app. If that's not possible any detail may help :)

[2021-04-08 14:53] dgandhi17 commented on #59
I am still working with my codebase, let me test my scenarios in couple days then may be I can share any pattern if it occurs

[2021-04-08 14:53] dgandhi17 commented on #59
Do you have in mind any ETA on stable release?

[2021-04-08 14:55] leisim commented on #59
@dgandhi17 We need to fix this error asap. After that about 1-2 months.

[2021-04-11 15:01] leisim commented on #56
Fixed with the newest version

[2021-04-11 15:01] #56 closed

[2021-04-11 15:01] leisim commented on #43
There is now an option to setup multi-package projects: https://isar.dev/generator_config

[2021-04-11 15:01] #43 closed

[2021-04-11 15:03] leisim commented on #33
The newest version should generate files in the bin directory.

[2021-04-11 15:03] #33 closed

[2021-04-11 21:50] leisim commented on #14
@dgandhi17 @Abhishek01039 I just published the first sample app. I plan to add a lot more. Maybe the community will also help out :)

https://github.com/isar/samples

[2021-04-11 21:50] #14 closed

[2021-04-12 03:28] Abhishek01039 commented on #14
Thanks @leisim

[2021-04-12 03:33] dgandhi17 opened #65 "mismatch version isar connect and isar"
Because every version of isar_connect depends on isar 0.2.0 and map_app depends on isar ^0.4.0, isar_connect is forbidden.
So, because map_app depends on isar_connect any, version solving failed.
pub get failed (1; So, because map_app depends on isar_connect any, version solving failed.)

[2021-04-12 04:49] dgandhi17 commented on #14
I am looking forward to a documentation specific to queries.

[2021-04-12 05:44] dgandhi17 opened #66 "It will be awesome to add graphql like feature to fetch property those required ?"
@leisim  Do you think it will be an simple yet useful feature to fetch properties which are passed like in graphql we do ?

[2021-04-12 07:46] leisim commented on #14
@dgandhi17 The docs for queries are finished and quite detailed. What do you miss?

[2021-04-12 08:28] barbalex commented on #65
I am getting similar error:

[code]

When using:
[code]

[2021-04-12 08:52] leisim commented on #65
I didn't have time to release a new isar_connect version yet. Will do today or tomorrow

[2021-04-12 09:06] dgandhi17 commented on #14
I did saw, earlier I thought it wasn't complete my bad.

[2021-04-12 09:06] leisim commented on #66
@dgandhi17 Not sure I understand exactly what you mean. We already have property queries: https://isar.dev/queries#property-queries

[2021-04-12 09:19] dgandhi17 commented on #66
I saw that but it is for single property only, what if I have 10 property in my collection but for a couple of scenarios I would want to fetch 3-4 properties only. Hope this will clear the question.

[2021-04-12 09:22] leisim commented on #66
@dgandhi17 That would not be hard to implement but we would need a nice API that fits into the existing API. Do you have a suggestion?

[2021-04-12 09:34] dgandhi17 commented on #66
A simple map ? which will return list of[ property and value] map this should be generic ?

[2021-04-12 11:05] seifeibrahim opened #67 "issue on archive"
Issue when i try to archive the iOS build

<img width="718" alt="Screen Shot 2021-04-12 at 1 02 51 PM" src="https://user-images.githubusercontent.com/15933375/114384912-9eb19980-9b8f-11eb-88f3-4c344b338c56.png">

**Version**
 - Platform: iOS
 - Flutter version: 2.0.4
 - Isar version: 0.4.0
 - Isar Generator version: 0.4.0

[2021-04-12 11:21] leisim commented on #67
@seifeibrahim Looks like you try to build for an iOS device with armv7 professor (probably iPhone 5?). Unfortunately Isar only supports armv8 processors due to their overwhelming market share.

If you need to support older devices I suggest build Isar Core with support for armv7 architecture.

[2021-04-12 11:56] seifeibrahim commented on #67
@leisim  Thanks for your reply,
Can you please tell me how to remove the armv7 support and replace it with armv8?

[2021-04-12 15:06] omidraha commented on #2
Do you know what method Telegram uses for syncing data between clients and cloud?
Its knowledge may be useful.

[2021-04-13 06:52] barbalex commented on #48
I am getting a similar error on Android emulator and a different one when using Chrome:

Android emulator (Pixel 3):
[code]

And a popup tells me:
[code]

Chrome:
[code]

Maybe importing dart:ffi on the web is not possible?

Version
- Platform: Android Emulator/Chrome on Windows 10 64 bit
- Flutter version: [2.1.0]
- Isar version: [0.4.0]
- Isar flutter lib version: [0.4.0]
- Isar Generator versio

[2021-04-13 06:58] leisim commented on #48
@barbalex The error message already mentions the problem: You try to run Isar on a 32 bit emulator

[2021-04-13 07:01] barbalex commented on #48
Being a web dev and new to flutter, I assumed the Pixel 3 Emulator would be 64 bit. How do I choose a 64 bit emulator? (I realize this is not an isar question and will search google for the answer too)

[2021-04-13 07:04] barbalex commented on #48
In Android Studio it says that the emulator is x86. What am I doing wrong?

[2021-04-13 07:11] barbalex commented on #48
O.k., so x86 seems to be 32bit. Will have to find out why I can only choose 32bit emulators in android studio...

[2021-04-13 07:16] leisim commented on #48
Not sure but I think you should install Intel HAXM and select a recent Android version for the emulator.

[2021-04-13 07:18] barbalex commented on #48
So it seems that 32 bit is the standard that android studio offers. I had to click a separate tab in the avd manager to be able to choose x86_64 devices. Well, new day, new things learned. Sorry for bugging you @leisim

[2021-04-13 07:19] leisim commented on #48
@barbalex No worries, let me know if I can help with anything else :)

[2021-04-13 18:31] saeed-golshan commented on #65
You are a super hero with so many good project 👍🏻. Share anything that others can help you for better and fast development.

[2021-04-14 06:22] emmanuelagarry opened #68 ""openIsar" is not a function"
The function "openIsar" does not exist after importing Isar in my projects.
 ![image](https://user-images.githubusercontent.com/26308935/114663361-73978900-9cfa-11eb-8bfd-79b020ac1752.png)

[2021-04-14 06:48] leisim commented on #68
@emmanuelagarry You need to run the `build_runner` and import `isar.g.dart`

[2021-04-14 16:33] nik-v-hax commented on #68
what should it generate for? Like what annotation does it search for?

[2021-04-14 16:41] LeonFuss commented on #68
ou can find all of this perfectly documented on [isar.dev]()

[2021-04-14 16:57] nik-v-hax commented on #68
SOLVED: yeah I just discovered the docs website - missed the @Id annotation inside the collection. Then it generated

[2021-04-14 19:56] intik opened #69 "How to properly update links in collection"
**Steps to reproduce**
I have two simple collections, like in the docs: Student, Teachers
Student have field teachers of links to teachers.
I want to have simple form where i can edit Student and his teachers at one.
How to properly save changed teachers (new ones and some edited) along with student edit?

**Simplified code**
[code]
**Issue**
I expected that the solution above would work, but no s

[2021-04-16 16:52] barbalex opened #70 ".save and .delete methods do not exist"
I have seen a number of things that though documented are not implemented yet.

I have so far successfully used these methods to edit data:
- `isar.projects.put(project)` to create a new project
- `isar.projects.delete(id)` to delete a project

I have not managed to use:
- `project.delete()`
- `project.save()`

The reason is: these two methods do not exist when I query a project, for instance like

[2021-04-16 17:55] leisim commented on #70
@barbalex The `.delete()` and `.save()` methods were part of an old API design and are no longer required. I'll remove them from the docs.

That should definitely not happen. Could you maybe share your `Project` class?

[2021-04-16 18:01] leisim commented on #69
@intik The `.saveChanges()` method only saves changes you made to the link (adding or removing linked objects). The following code should work:

[code]

[2021-04-16 18:01] #69 closed

[2021-04-16 18:02] #68 closed

[2021-04-16 18:51] leisim commented on #70
@barbalex Is there something else that is not implemented yet?

[2021-04-17 06:32] Sulisong opened #75 "isar_connect 0.2.0"
isar_connect 0.2.0

[2021-04-17 13:51] barbalex commented on #70
How can an object be changed/edited then? I haven't seen or found a different method.

Yes, there are/were a few  things I found in own/other's issues. Some you have already resolved. They are mentioned in those issues so no need to repeat them here.

Plus: You are building an extremely promising tool here which is why I have decided to try to implement it in a new project. Which may be why I am o

[2021-04-17 13:55] barbalex commented on #70
By the way: While I am not up to adding value to the code of this project, I _could_ add to the documentation. That would probably not be great documentation and would surely have to be enhanced by you later but it could prevent more people from opening issues and spending time before that.

[2021-04-17 17:59] leisim commented on #70
Both inserting and updating works with `yourCollection.put(yourObject)`. If the `id` is `null` (or does not exist), the object is inserted, otherwise it is updated.

Please don't hesitate opening any number of issues. I'm super grateful for insights from early adopters.

Any help is more than welcome. Don't worry about the level of your knowledge. Docs for beginners or sample apps are just as impo

[2021-04-18 09:48] leisim commented on #75
Duplicate of #65

[2021-04-18 09:48] #75 closed

[2021-04-18 09:51] #70 closed

[2021-04-20 04:55] hsato-futasaji opened #76 "Failed to lookup symbol (dlsym(RTLD_DEFAU isar_connect_dart_api):"
**Steps to Reproduce**
1. Release build in Xcode
2. Exception occurs when app starts

<img width="859" alt="Screen Shot 2021-04-20 at 10 24 07" src="https://user-images.githubusercontent.com/76480180/115339049-ffb81d80-a1de-11eb-9927-af74019f5cd3.png">

**Version**
 - Platform: iOS
 - Flutter version: 2.1.0-12.2.pre
 - Isar version: 0.4.0
 - Isar Generator version: 0.4.0

[2021-04-20 08:44] derolf commented on #48
@leisim

How can I include them?

[2021-04-20 08:56] derolf opened #79 "flutter: Invalid argument(s): Failed to load dynamic library (dlopen(libisar.dylib, 1): image not found)"
Version: 0.4.0

Works fine on iOS, but on MacOS (64bit), the library isn't loaded...

[2021-04-20 09:14] derolf commented on #79
I successfully added the framework and I am now getting:

[code]

[2021-04-20 09:30] derolf commented on #79
Using instruments, I found this:

[code]

[2021-04-20 11:36] derolf opened #82 "lessThan/greaterThan for strings"
For lexical order queries, we need `lessThan`/`greaterThan` queries also on strings.

[2021-04-20 15:51] leisim commented on #82
@derolf Good idea I'll implement it

[2021-04-20 16:41] yringler commented on #66
I think that selecting a subset of properties is really only useful when it's traveling over a network (ie, what graphql is for). Here, everything is local, so I don't think there would be much performance gain.
Unless you have really massive records with dozens and dozens (100s?) of large fields, but IMO that's a schema which should be improved.

[2021-04-20 16:45] leisim commented on #66
@yringler I fully agree. The performance gain will be really small an not worth the additional complexity.

[2021-04-20 16:45] #66 closed

[2021-04-21 06:15] viveknimkarde commented on #79
@derolf were you able to fix the issue ?

[2021-04-21 08:15] barbalex opened #83 "are aggregation queries implemented?"
I tried to use the max function as [documented](https://isar.dev/queries#aggregation).

But I can't find it.

I am not _quite_ sure where it should be as there is no example but I _think_ it should be:
[code]

So I have resorted to sorting and finding the first:
[code]

Am I doing something wrong or [are you only just implementing](https://github.com/isar/isar/issues/39#issuecomment-812503909) the

[2021-04-21 09:29] leisim commented on #83
@barbalex They are implemented and even verified by tests: https://github.com/isar/isar/blob/9e0163fde812d22cade95d8c89e5990c141204b3/packages/isar_test/test/aggregation_test.dart#L60

Not sure why you don't see them. Do you use the latest version of the `isar_generator`?

[2021-04-21 10:00] barbalex commented on #83
This is my code and the error being shown:
<img width="1419" alt="2021-04-21_11h56_19" src="https://user-images.githubusercontent.com/669783/115535036-ac0a0a80-a298-11eb-96e1-7a76b2429722.png">

These are my dependencies:
[code]

This is my model:
[code]

And here isar.g.dart:
[code]

[2021-04-21 10:06] barbalex commented on #83
I ran `flutter packages pub run build_runner build` again and the issue remains

[2021-04-21 10:16] barbalex commented on #83
I ran:
[code]
hoping to remove any rest of previous versions of software. But the issue remains.

[2021-04-21 13:41] barbalex commented on #83
This issue is obviously to very urgent as it is easy to circumvent 😄

[2021-04-21 13:48] leisim commented on #83
@barbalex Did you `import 'package:isar/isar.dart'`? The aggregation methods are not generated.

[2021-04-21 14:06] barbalex commented on #83
Yes. Here is the code: https://github.com/barbalex/capturing/blob/master/lib/controllers/graphqlController.dart

[2021-04-21 15:20] Yeikel200 opened #85 "Error resolving isar_connect 0.4.0 dependencies"
I have error adding `isar` dependencies to project in `pubspec.yaml`

**Code sample**
[code]

**Version**
 - Platform: iOS, Android, Mac, Windows, Linux, Web
 - Flutter version: 2.0.5
 - Isar version: 0.4.0
 - Isar Generator version: 0.4.0

[2021-04-21 16:17] barbalex opened #86 "return id when new record is put"
It would be nice if when creating a new record, it's id were returned:

[code]

Today this is not possible because put returns void.

I feel that it is standard for api's and databases to offer an ability to have the id returned in some way or other when inserting a new record. Often the entire object is returned.

My use-case: When the user creates a new object, the app should open it's form. So

[2021-04-21 16:19] barbalex commented on #85
Duplicate of https://github.com/isar/isar/issues/65

[2021-04-21 17:03] leisim commented on #86
@barbalex The id property of your `newContact` will contain the new id.

[2021-04-21 17:22] barbalex commented on #86
Omg. Thanks!

[2021-04-21 17:22] #86 closed

[2021-04-21 20:10] volser commented on #86
@leisim  hm, it mutates input? does not look like a good solution :)

[2021-04-21 20:24] leisim commented on #86
@volser It only mutates the input if the id is set to `null` (= auto increment). But you are right we have a problem if we want to support immutable models.

[2021-04-21 20:26] yringler commented on #86
The id can be declared `late`; I think that's close enough to immutable?

[2021-04-22 18:48] leisim commented on #85
Unfortunately this can only be fixed with the next release in a few days :/

[2021-04-22 18:48] #85 closed

[2021-04-23 10:06] nghialm269 commented on #48
@leisim

Does this mean isar doesn't work on armeabi-v7a devices? Is there any reason for this limitation?

[2021-04-23 10:09] leisim commented on #48
@nghialm269 Yes unfortunately armeabi-v7a devices are not supported. The reason is that very few devices are still 32bit and not supporting them makes testing, building and distributing Isar easier.

[2021-04-23 11:21] mikarty opened #89 "Links not working properly"
Hi! Two cases bellow:

**Collections**
[code]
[code]

**Case Nr. 1:** when updating a collection that contains links - containing links will disappear
[code]

**Case Nr. 2:** when updating a collection that is a link of another collection - exception is thrown

[code]

**Version**
 - Platform: Android 10, Xiaomi Mi 9T Lite
 - Flutter version: 2.0.4 • channel stable
 - Dart version: 2.12.2
 - Isar

[2021-04-23 15:37] leisim commented on #89
@mikarto Thanks for the detailed report. I could reproduce and fix it and will now create unit tests to catch this issue in the future. The fix will be distributed with the next release 👍

[2021-04-24 11:14] CodeDoctorDE opened #90 "Isar Inspector - Cross platform"
**Is your feature request related to a problem? Please describe.**
I have no mac :(

**Describe the solution you'd like**
It would be cool if there is an option to run the isar inspector on linux and windows.

**Describe alternatives you've considered**
-

**Version**
 - Platform: Windows 10, Linux(, Web)

[2021-04-24 12:33] leisim commented on #90
@CodeDoctorDE it should be little effort to make the inspector platform independent. I just didn't have time to test it yet. Maybe you want to give it a try 😉

[2021-04-24 17:33] CodeDoctorDE opened #91 "Collection name"
Hi,

I have an example:
[code]

The generator creates the property `seriess` because of the plural. It would be cool if there is an option to add a custom name.

[2021-04-24 17:35] CodeDoctorDE opened #92 "UserAdapter not generated on state converters"
**Steps to Reproduce**
I get this error if I generate the `isar.g.dart` file: `Undefined name '_UserAdapter'.
Try correcting the name to one that is defined, or defining the name.`

**Code sample**
[code]

**Version**
 - Platform: Dart only project
 - Flutter version: -
 - Isar version: 0.4.0
 - Isar Generator version: 0.4.0

[2021-04-24 21:07] leisim commented on #92
@CodeDoctorDE Do you have a class called `_UserAdapter`?

[2021-04-24 21:09] leisim commented on #91
@CodeDoctorDE Yes that should definitely be added. I also want to port [pluralize](https://github.com/plurals/pluralize) to Dart to improve the generated plurals.

[2021-04-25 04:03] CodeDoctorDE commented on #92
No, I only have the class User

[2021-04-25 10:18] peterwvj commented on #13
Hi @leisim I'm currently contemplating whether I should switch to Isar (I'm currently using Hive but my app has not made it to production yet). At this point, do you have a more clear plan for when the beta and stable 1.0 versions will be released. Thanks in advance :)

[2021-04-25 12:49] leisim commented on #13
Hey @peterwvj! Yes I hope to release a stable version within the next two months.

The next version will bring a lot of new features (support for freezed, getByIndex, final properties, inheritance etc.).

After that I need to work on more unit tests.

[2021-04-25 22:48] ebadta81 opened #93 "isar_generator fails if a class have a getter method with String return type"
**Steps to Reproduce**
Isar generator gives the error for this class,  when I run ```flutter pub run build_runner build```.

The error message:
[code]

If I remove the getQuery method, it is ok.

**Code sample**
[code]

**Version**
 - Platform: Mac
 - Flutter version: 2.0.5
 - Isar version: 0.4.0
 - Isar Generator version: 0.4.0
 - build_runner: ^2.0.1

[2021-04-26 03:54] ebadta81 commented on #93
Also, with a static member: ```static final String query = '/json/place-version';```

[2021-04-26 14:34] CodeDoctorDE commented on #92
Do I need to import a dependency?

[2021-04-26 15:54] CodeDoctorDE commented on #92
an example for an error is:
[code]
Undefined name '_EventAdapter'.
Try correcting the name to one that is defined, or defining the name.

[2021-04-26 23:09] Baki91-3663 opened #94 "Download"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ve

[2021-04-26 23:15] Baki91-3663 opened #95 "IOS12"
**Steps to Reproduce**
Please describe exactly how to reproduce the problem you are running into.

**Code sample**
[code]

**Version**
 - Platform: iOS, Android, Mac, Windows, Linux, Web
 - Flutter version: [e.g. 1.5.4]
 - Isar version: [e.g. 0.5.0]
 - Isar Generator version: [e.g. 0.5.0]

[2021-04-30 16:47] CodeDoctorDE commented on #92
any updates?

[2021-05-02 08:25] viveknimkarde commented on #6
We have been using hive since last year and planning to move to isar db.
It Looks pretty amazing but we need web support to be able to migrate from hive.

I would like to know how far the web support is on the roadmap. as I don't see much web related activity in this repo ?

[2021-05-02 09:12] leisim commented on #6
@viveknimkarde Unfortunately web support is not a priority currently. Unless someone wants to contribute, I think it will take about 3-4 months until web support is ready.

[2021-05-02 10:56] viveknimkarde commented on #6
Glad to know web support is not very far away. Web support will play huge role in building crossplatform apps using isar  as flutter web has seen huge developments in recent months.

[2021-05-03 14:13] antholeole opened #96 "Unique Columns?"
Many database solutions (read: all) have a way to make a column a "unique" column. I'd like to do this in Isar too.

**Describe the solution you'd like**
Perhaps an `@Unique` tag on a field that perhaps just performs a query by that field and if it already exists throws an error?

**Describe alternatives you've considered**
I've been literally doing the previous in my repository - Something like t

[2021-05-03 15:53] leisim commented on #96
It's already possible using indexes: https://isar.dev/indexes#unique-indexes

You can even define a "replace index" that replaces existing entries instead of throwing an error.

[2021-05-03 16:46] antholeole commented on #96
Ah! Thank you - just what I'm looking for.

you're awesome :)

[2021-05-05 05:20] AKushWarrior commented on #6
@viveknimkarde I had started it, but I've been really busy. I didn't make too much progress; I remember opening a discussion with my progress on one of the isar repositories, but I'm not sure where it is.

[2021-05-05 05:21] AKushWarrior commented on #6
Found it: https://github.com/isar/isar/discussions/23

If anyone is looking at this and wants to contribute to web, that would probably be your starting point.

[2021-05-06 17:41] Teio07 opened #99 "No automatic imports of Converted types inside Isar.g.dart"
**Steps to Reproduce**
I have a simple Collection with an id and an enum.
I created a TypeConverter and annotated the enum with the converter.
The file `isar.g.dart` is generated with the converter applied but I have to manually import the enum inside the `isar.g.dart` (which is not ideal because I have to do it every time the build runner runs)

**Code sample**

The Collection :
[code]

The TypeC

[2021-05-07 19:01] antholeole opened #102 ""More than one property annotated with @Id()" when inhereting from base class."
**Steps to Reproduce**

declare a base class:

[code]

and then a class that inherets from it:

[code]

this fails to generate with:

[code]

**pubspec.yaml:**
[code]

**extra details**
seems to be no way to work around without sacraficing boilerplate; even when implement instead of extend, this issue still exists.

Ideally, I'd like to create a base class with @id and @index for two properties an

[2021-05-09 16:47] antholeole opened #106 "Making IsarLink final does not work; generator generates but code cannot compile due to illigal assignment"
The docs say: "IsarLink and IsarLinks both have a zero-arg constructor which should be used to assign the link property when the object is created. It is good practice to make link properties final."

When I define a schema with anything like:
[code]

the generator generates:

[code]
This does not compile, as it attempts to set a final field.

[2021-05-10 05:00] CodeDoctorDE commented on #92
@leisim the current code is here: https://github.com/LinwoodCloud/Flow/blob/8d5695a9b4d6b7378e24d20845a7215c5de444bc/shared/lib/isar.g.dart

[2021-05-12 20:31] jhoogstraat commented on #76
I am getting the same error, but just in release mode.

[2021-05-18 20:05] iapicca opened #107 "[proposal] benchmark against "objectbox""
[objectbox](https://pub.dev/packages/objectbox) (that seems to have [confirmed](https://github.com/objectbox/objectbox-dart/issues/244#issuecomment-843453458) its claim of [hive being deprecated](https://user-images.githubusercontent.com/45637986/118714729-66a31380-b82b-11eb-8793-9dcbb8e61a26.png)) has publish a benchmark against [hive](https://pub.dev/packages/hive)
nevertheless its more similar

[2021-05-18 20:09] #107 closed

[2021-05-18 20:09] iapicca commented on #22
[objectbox](https://pub.dev/packages/objectbox) (that seems to have [confirmed](https://github.com/objectbox/objectbox-dart/issues/244#issuecomment-843453458) its claim of [hive being deprecated](https://user-images.githubusercontent.com/45637986/118714729-66a31380-b82b-11eb-8793-9dcbb8e61a26.png)) has publish a benchmark against [hive](https://pub.dev/packages/hive)
nevertheless its more similar

[2021-05-19 09:08] AndryHTC commented on #2
https://jepsen.io/consistency/models/causal
https://doc.replicache.dev/design

Replicache handles it in a server-client environment. I know you're trying to achieve peer-to-peer bidirectional sync... But having a look to the implementation (and to the APIs) could bring new ideas to how to handle this complexity ;)

[2021-05-19 17:10] peterlazar1993 opened #109 "App crashing on calling openIsar a second time"
**Steps to Reproduce**
As mentioned [here](https://github.com/isar/isar/discussions/108) I have added Isar to the ObjectBox benchmarks repo.

I am running into an app crash when running the benchmark a second time.
I have narrowed down the crash to the `IC.isar_get_property_offsets` call in the generated `isar.g.dart` file.

The database files are deleted after each run, and a new path is set befo

[2021-05-20 07:12] frestoinc commented on #76
same here.

[2021-05-23 20:17] ffpetrovic opened #110 "Id type error not true"
**Steps to Reproduce**
The source [here](https://github.com/isar/isar/blob/71a633fcaaba828e35301443a453ee49cd497a3c/packages/isar_generator/lib/src/isar_analyzer.dart#L206-L207), specifically the condition and corresponding error don't line up. The error says that what's supported is "String, Int and Long", yet what's actually supported is `Long` and `Int`.

[2021-05-24 09:53] GearGit commented on #110
Should we change it from:
[code]
to:
[code]

[2021-05-26 21:20] JsonLinesCode opened #112 "Error after updating a field"
**Steps to Reproduce**
Please describe exactly how to reproduce the problem you are running into.
- Add a field to an existing class (for me it was a non-nullable boolean)
- Run build runner
- Restart app
- Try to get data from db

**Output**
`Error 'package:isar/src/native/binary/binary_writer.dart': Failed assertion: line 24 pos 12: '!staticOffset || offset < _staticSize': is not true.`

Somethi

[2021-05-26 21:47] ModernChocolate commented on #112
Oh, btw it was during a writing operation and not a reading operation.

[2021-05-27 07:23] tiarebalbi commented on #39
[code]

having the same issue, in this case with Linked collections, the code above fails to compile because of the initialization of `category`. To avoid the error I had to add `@Ignore()`

[2021-05-28 10:25] savy-91 commented on #65
Hi! Is there any update about this?

[2021-06-05 17:35] JsonLinesCode opened #113 "Add 32 incompatibility informations in documentation"
**Is your feature request related to a problem? Please describe.**
I was frustrated when I discovered Isar was not compatible with 32 bits devices.

**Describe the solution you'd like**
Please  add it in the Isar limitations at least. It could spare other developers the remigration of their code when they discover it.

**Describe alternatives you've considered**
I've seen in an issue that it was r

[2021-06-10 21:07] na2axl commented on #93
Hello there,

@leisim this seems to occur when the model has a getter, no matter the return type. I need to comment all getters to have a successful build...

[2021-06-13 12:20] defuncart commented on #79
Experiencing the same issue with isar 0.4.0 and latest isar-core for macOS ([0.4.3](https://github.com/isar/isar-core/releases/tag/0.4.3)). From [this discussion](https://github.com/isar/isar/discussions/101#discussioncomment-718381), it seems that the binaries are working on Windows.

Has anyone tried to build the macOS dylib locally? (some info [here](https://github.com/isar/isar-core/blob/main/

[2021-06-27 20:39] EslamAbotaleb commented on #48
But there devices support 64 processor and problem still found not only 32bit processor

[2021-06-28 10:36] EslamAbotaleb commented on #48
@leisim There devices support 64bit procoessor and the problem still found  not only 32bit !

[2021-07-06 10:53] barbalex commented on #112
I am suddenly getting this error pretty constantly. After trying to get windows desktop mode to work.

[2021-07-08 12:38] yringler commented on #113
Yes, this was also mentioned in another issue https://github.com/isar/isar/issues/48#issuecomment-825553230 , but should be mentioned in the [docs](https://isar.dev/limitations).
@leisim , I understand your reasons for not supporting 32bit.
I do not know how many of my app users have a 32bit device; I don't know that google play console or google analytics readily supply that information. Because

[2021-07-15 03:46] dunm165913 commented on #59
@leisim Do you fix this error?
I tested on simulator, it was not happen, but on iOS device(iphone X, ipad air 4) both debug and release mode, i got error.

[2021-07-20 14:47] DaneArt opened #116 "Cant run app on IOS"
Can't run app after this package installation

[code]
**Version**
 - Platform: IOS
 - Flutter version: 2.0.3
 - Isar version: 0.4.0
 - Isar Generator version: 0.40

[2021-07-20 16:05] DaneArt commented on #116
Fixed by adding empty .Swift file to ios/Runner folder from Xcode

[2021-07-20 16:05] #116 closed

[2021-07-23 08:05] vaind commented on #22
Hey, since there were some community requests (and contributions) towards adding Isar to the objectbox-dart-performance benchmark app, we're going to [merge the PR](https://github.com/objectbox/objectbox-dart-performance/pull/3) soon even though there are some features missing/not working properly yet, to give some preliminary comparison. If any of you guys would like to have a look/review/contrib

[2021-07-27 13:36] barbalex commented on #79
I got it to work on windows but am experiencing this error on macos

[2021-07-28 21:28] igoriuz commented on #65
This should work:

[code]

[2021-08-04 07:31] TheOnlyNurse commented on #99
I ran into this problem as well, something I've been doing to side step this is to export the files needed in the converter library.
So basically, I have a separate file with just TypeConverters and I export the files needed in that file.

[code]

Not sure how this would be addressed, but I don't think this is a bad compromise while we wait for a better idea.

[2021-08-13 17:08] monkeydaichan commented on #65
@igoriuz
Thank you!
It is working for me

[2021-08-14 21:49] kulture-rob-snider commented on #76
@leisim I believe this is the issue:
https://flutter.dev/docs/development/platform-integration/c-interop#ios-symbols-stripped

[2021-08-14 22:13] leisim commented on #113
Hey @yringler I definitely plan to continue working on this project :+1: and I'll look into 32bit support too

[2021-08-15 02:09] yringler commented on #113
Great!

Even better!

I'm actually in the middle of completely rewriting data handling in my app. It'll probably be another month or so until that's done. I'm currently in the direction of using moor (a pretty thin abstraction around sqlite) because of the 32 bit support, but with my new (hopefully) properly abstracted data handling, I'd be thrilled to swap out for  isar and see how it goes, whene

[2021-08-29 11:08] liemfs commented on #89
Still no fix?

[2021-09-02 15:42] Peng-Qian opened #122 "Documentation Errors and Should We Wait Isar?"
Hi,

I have closely watch Hive(update plan)/Isar for long time, and it is real struggling to wait Isar, is it possible to give us a promising instruction that when can we use stable Isar?

Isar Documentation currently have many errors on Document website and dart pub

[code]

[2021-09-06 11:53] bgervan commented on #2
Funny, that's exactly what I plan. The DB will be propably isar, because it has date filter as I required, the sync will be done on websocket and the other clients can get real time the new data.

Is there anyone who would like to join? The backend is with django channels, with redis/ or with google pubsub. An experienced flutter developer for the frontend stuff would be welcomed, since I am a bac

[2021-09-06 11:55] bgervan commented on #2
Btw, the class inheritence would work as the above example?

[2021-09-06 16:41] bgervan commented on #2
@leisim Is there any workaround for class inheritance? Is there plan for creating BaseCollection decorator? Currently, an abstract class' fields is not appear in the generated file. The links could be a workaround maybe, but seems impractical

[2021-09-11 22:20] stevokk commented on #110
Is the issue that the isar-core hasn't implemented String ID comparator function or that the String type is yet to be supported at all? For distributed record creation 128bit UUID or ULID are common (the latter being easily sorted and existing in Dart/Rust).

After some extensive Google-foo, the underlying LMDB store supports any key with the compare function being the missing piece per type if yo

[2021-09-14 16:15] anandsubbu007 commented on #48
On
Windows 10 64bit
flutter 2.5.0 stable version
[code]

[2021-09-25 15:46] anandsubbu007 commented on #89
any update?

[2021-10-01 18:30] om-ha opened #128 "Generic Type Converters"
## **Is your feature request related to a problem? Please describe.**
- Type conversion is superbly done in Isar, as explained in the [TypeConverters documentation](https://isar.dev/type-converters).
- However, say you have a lot of enums, you'd then need to write a converter for each one.
- Other examples may apply as well not just enums, basically for any types with shared data-access behavior.

[2021-10-01 18:34] om-ha commented on #128
This is a nice-to-have of course... A developer can just repeat some code if no other solutions are available.

[2021-10-02 04:42] dgandhi17 opened #129 "Will there be any further changes in the library or it got abandoned?"
Will there be any further changes in the library or it got abandoned?

[2021-10-02 21:21] om-ha commented on #65
@igoriuz

Thanks for your solution! It didn't work for me unfortunately, but it put me in the right track: I had to modify git protocol from ssh to https, like so:

[code]

[2021-10-02 22:56] om-ha commented on #36
Related: https://github.com/Dart-Code/Dart-Code/issues/548#issuecomment-932830758

[2021-10-02 23:42] om-ha commented on #36
I think the changes may need to be here?

1. https://github.com/isar/isar/blob/d7dbb532ece0e81255749714e2ddfce11a2c8779/packages/isar_generator/build.yaml#L21
2. https://github.com/isar/isar/blob/d7dbb532ece0e81255749714e2ddfce11a2c8779/packages/isar_generator/lib/src/code_gen/isar_code_generator.dart#L31
3. https://github.com/isar/isar/blob/d7dbb532ece0e81255749714e2ddfce11a2c8779/packages/isar_g

[2021-10-03 21:48] flexagoon commented on #129
Well the isar/docs and isar/isar-core repos were updated in august, so Isar is probaby not abandoned, just not as actively developed

[2021-10-04 21:16] om-ha opened #130 "Unique Replace index keeps old "dirty" records"
## **Steps to Reproduce**
- Have a unique-replace index on a property inside a collection.
- Insert an object within an Isar instance.
- Re-insert that same object with the same value for the property with unique-replace index.
- Old object still exists within the Isar instance (2 objects instead of 1)

## **Code sample**
### Collection Definition
[code]
### Add new product & check total count
[co

[2021-10-04 22:29] om-ha commented on #130
Also please note, the values are not actually replaced even though number of duplicates with the final `findAll` is correct.

[code]

This means the replace of other non-index values doesn't happen.

In our product example, if we were to add the second product with a different price, we would still find the first price after object addition with `put`.

[2021-10-05 03:06] Rushabh1798 opened #131 "Awaiting Production Ready Release of Isar DB"
Hi @leisim,
We are currently developing a business solution heavily dependent on local storage. We currently use Hive for that purpose but due to lack of queries and searching we are desperately waiting for Isar to get stable. It seems much promising as compared to its competitors. Please let us know when can we expect a stable version of Isar. Thanks man you are doing a nice work since Hive.

Reg

[2021-10-07 06:41] om-ha commented on #36
This could help!

https://pub.dev/packages/drtimport

[2021-10-12 05:45] srix55 commented on #129
It's not abandoned. From the author's comments from the discussion tab a month ago:

[2021-10-13 10:11] gcxfd opened #132 "IsarError: The provided ObjectId does not match the collection."
**Steps to Reproduce**

download libisar_macos_x64.dylib and rename to libisar.dylib

clone https://github.com/gcxfd/isar.template

dart run

**Code sample**

I try code in Quickstart ( https://isar.dev/ )

IsarError: The provided ObjectId does not match the collection.

[code]

**Version**

environment:
  sdk: '>=2.14.3 <3.0.0'

dev_dependencies:
  build_runner: ^2.1.4
  isar_generator: ^0.4.0

[2021-11-03 09:43] obalak commented on #128
Hi,
I tried this and unfortunately is not recognized by the analyzer/generator:

[code]
This should work in the same way as for Enum ...
This would be a very appreciated to avoid using workaround like ignoring the current attribute and duplicate it with somewhat is expected stored value in the DB (e.g. bool dbStarred).

[2021-11-24 17:40] jpolstre commented on #113
In fact, starting with this limitation would save us a few hours, I am very disappointed.

[2021-11-24 17:49] yringler commented on #113
Opened PR to put 32 bit limitation prominently in README

[2021-11-29 22:10] leisim commented on #131
Hey @Rushabh1798 ,
I'm working very hard on a stable version but I'm not going to make another prediction. Have been a little off in the past haha

[2021-11-29 22:12] leisim commented on #129
Definitely not abandoned just little time. But we are going to need it soon at ClickUp, so you can expect to see more active development

[2021-11-30 03:45] dgandhi17 commented on #129
@leisim thanks, happy to see you back.

[2021-11-30 03:45] #129 closed

[2021-11-30 15:48] yringler opened #135 "Fuzzy text search"
**Is your feature request related to a problem? Please describe.**
I would like to eventually move my app to issar. One thing I'd like to do is fuzzy searching, which would allow mispellings, word gap etc, because a literal text search will always miss a ton of content. This especially applies to my app, where many "English" words are transliterations of Hebrew, and everyone types that a bit diffe

[2021-12-03 08:54] leisim commented on #135
@yringler Do you have a reference implementation or some example of how you would want this to work? Would a fuzzy filter be enough or do you also want to use an index?

[2021-12-03 08:58] #96 closed

[2021-12-03 08:58] #95 closed

[2021-12-03 15:33] yringler commented on #135
Nope. I saw a Wikipedia article way back with different algorithms, that's as far as my knowledge reaches.

A fuzzy filter would be enough.

This functionality doesn't exist in any other flutter db as far as I'm aware, so missing it doesn't put isar at a disadvantage. But it would be useful to have.

[2021-12-04 09:47] om-ha commented on #135
I have evaluated dart fuzzy algorithms and used the best one that suited my use-case, but I suppose it applies to Isar too. I can share my (simple) findings and maybe help with the implementation.

[2021-12-04 09:52] om-ha commented on #130
@leisim very happy you are back! Would you like some collaboration for this issue?

[2021-12-04 10:15] leisim commented on #130
@om-ha Thanks for reporting this issue. Yes I'm grateful for any help.

If you could for example contribute a unit test that reproduces the issue, that would be super helpful.

If you know Rust, maybe you could even write a unit test for Isar core.

[2021-12-04 10:17] om-ha commented on #122
I think Isar is a very promising project. A hidden gem possibly the best in industry.

These are few mishaps here and there, in documentation and some bugs.

For example, I had to manually add a missing import in `isar.g.dart` (I wrote a bash script for that to make this more standardized and automated) But to be fair this missing import stems from a not-so-common but perfectly acceptable and clea

[2021-12-04 10:25] om-ha commented on #130
Thanks for your reply @leisim.

Will contribute a bug-reproducing unit test in dart. Afterwards I will try writing a unit test for Isar core too.

[2021-12-04 19:33] leisim commented on #135
@om-ha that would be great. We won't be limited to dart algorithms because the searching will happen natively in Isar core anyway.

[2021-12-05 12:42] leisim commented on #135
Okay I looked into different algorithms and types of fuzzy matching and I see a few problems:

- fuzzy matching can be expensive so we likely want to use an index. That's difficult to implement for many algorithms
- there is no "perfect" algorithm. Choosing the right one highly depends on the individual use case (for example soundex vs levenshtein)
- it's not trivial to make fuzzy matching work wi

[2021-12-05 13:15] leisim commented on #135
@yringler I think the easiest approach would be to choose a Hebrew phonetic algorithm and store the result in an indexed field. Then you get accurate and super fast fuzzy search

[2021-12-06 09:27] om-ha commented on #135
- It's true fuzzy matching can be expensive, and there's a need for index.

- From what I see `soundex` is more limited than `levenshtein`, as the former depends on the natural human language. In other words, `soundex` is limited to English. So [other variants](https://en.wikipedia.org/wiki/Soundex#Variants) have to be used for non-English words.

- I haven't looked into filters, but from what I [

[2021-12-06 09:31] om-ha commented on #135
That being said, I think your statement here is best suited for case-by-case scenario. It is very high performing but limited to the nature of how `soundex` [works](https://en.wikipedia.org/wiki/Soundex).

[2021-12-07 15:02] leisim commented on #113
@yringler Yes it would. It's a super cool project with a lot of improvements over lmdb.
I'm looking into switching to it before a stable release...

[2021-12-10 13:33] #94 closed

[2021-12-10 20:26] jtzell commented on #130
I'm having the same problem. Any update on this issue?

[2021-12-10 20:42] jtzell opened #137 "[BUG] aggregateQuerySync return double instead of int"
**Steps to Reproduce**
The following code will throw error `type 'int' is not a subtype of type 'double'`

**Code sample**
[code]

**Version**
 - Platform: Android
 - Flutter version: [e.g. 2.5.2]
 - Isar version: [e.g. 0.4.0]
 - Isar Generator version: [e.g. 0.4.0]

[2021-12-10 21:55] om-ha commented on #130
@jtzell I'm on a tight deadline now, but hopefully I can make a bug-reproducing unit test this week. Then we can look into fixing this with Simon (the maintainer).

[2021-12-10 22:06] leisim commented on #130
@om-ha Currently working very hard on a massive Isar core update. Should fix those problems.

[2021-12-11 11:42] om-ha commented on #130
That sounds amazing! Thanks for the hard work, it is highly appreciated.

[2021-12-18 11:33] om-ha commented on #76
## Summary
In release mode this issue is reproducible.

In debug mode this issue is not reproducible.

## Reproduction
To reproduce this in Release mode without having to release the app via Apple's TestFlight, but rather directly from Xcode:
1. Edit your current Xcode scheme within Xcode, and set `Build Configuration` to `Release` (TestFlight/AppStore) or `Profile` (AdHoc). A screenshot of this v

[2021-12-21 14:02] Enlarge-RyotaTsunoi commented on #59
We faced this problem too.
It did not occur in the simulator, but only in the behavior on the device.
Device: iPhone X

We were able to work around it by setting the maxSize argument of the openIsar function to 1/10 of the default value, which is a temporary workaround.
More detailed information will be provided if needed.

I hope this issue will be resolved soon.

[2021-12-24 11:01] jackdy-prog opened #138 "Isar connector throws error at start"
**Steps to Reproduce**
Hi, first of all thank you very much for the great work that you have been doing with Hive and Isar lately. Really looking forward to a stable version of Isar. I have been having some problems recently with connecting to Isar inspector using the example in the docs. I have a very simple _Contact_ table with an id and name. When trying to open the inspector it throws the erro

[2021-12-31 07:51] gid-m opened #141 "Static Future Isar.open() Crashes App"
**Steps to Reproduce**
First of all, thank you for this awesome package. I'm using the package updates from a few hours ago but when I run the static future `Isar.open()`, the application suddenly crashed with no error displayed in the Debug Console.

**Code sample**
[code]

**Version**
 - Platform: iOS, Android
 - Flutter version: 2.5.3
 - Isar version:  isar:
      git:
        url: https://gith

[2021-12-31 12:07] leisim commented on #141
The main branch is unstable so you should only ever use it to test new features. Unfortunately, I can't really help without an error message. There is a message for sure. Depending on the platform you are running on it might be a little difficult to find.

Do you also use the binaries from the `isar-core` repo? If not, that is the problem :)

[2021-12-31 22:31] leisim commented on #141
Please use the stable release

[2021-12-31 22:31] #141 closed

[2021-12-31 22:32] leisim commented on #138
Fixed with stable release

[2021-12-31 22:32] #138 closed

[2021-12-31 22:32] leisim commented on #132
Fixed with stable release

[2021-12-31 22:32] #132 closed

[2021-12-31 22:32] leisim commented on #131
Just released the stable version :)

[2021-12-31 22:32] #131 closed

[2021-12-31 22:32] leisim commented on #130
Fixed with stable release

[2021-12-31 22:32] #130 closed

[2021-12-31 22:33] leisim commented on #113
Fixed with stable release

[2021-12-31 22:33] #113 closed

[2021-12-31 22:33] leisim commented on #112
Fixed with stable release

[2021-12-31 22:33] #112 closed

[2021-12-31 22:33] leisim commented on #110
Fixed with stable release

[2021-12-31 22:33] #110 closed

[2021-12-31 22:33] leisim commented on #109
Fixed with stable release

[2021-12-31 22:33] #109 closed

[2021-12-31 22:45] om-ha commented on #130
Awesome news! What an achievement, a new (stable) first of 2022 after new year's eve!

Congratulations!

[2021-12-31 23:06] leisim commented on #102
Fixed with stable release

[2021-12-31 23:06] #102 closed

[2021-12-31 23:06] leisim commented on #99
Fixed with stable release

[2021-12-31 23:06] #99 closed

[2021-12-31 23:06] leisim commented on #93
Fixed with stable release

[2021-12-31 23:06] #93 closed

[2021-12-31 23:07] leisim commented on #36
Fixed with stable release

[2021-12-31 23:07] #36 closed

[2021-12-31 23:08] leisim commented on #48
Fixed with stable release

[2021-12-31 23:08] #48 closed

[2021-12-31 23:08] leisim commented on #39
Fixed with stable release

[2021-12-31 23:08] #39 closed

[2021-12-31 23:08] leisim commented on #83
Fixed with stable release

[2021-12-31 23:08] #83 closed

[2021-12-31 23:09] leisim commented on #59
Fixed with stable release

[2021-12-31 23:09] #59 closed

[2021-12-31 23:09] leisim commented on #82
Fixed with stable release

[2021-12-31 23:09] #82 closed

[2021-12-31 23:09] leisim commented on #92
Fixed with stable release

[2021-12-31 23:09] #92 closed

[2021-12-31 23:10] leisim commented on #65
Fixed with stable release

[2021-12-31 23:10] #65 closed

[2022-01-01 04:05] rizzi37 opened #142 "build failed in v1.0.0"
[code]

[2022-01-01 08:23] leisim commented on #142
Thanks for reporting, the isar_flutter_libs upload went wrong. I published a new version!

[2022-01-01 08:23] #142 closed

[2022-01-02 03:51] anandsubbu007 commented on #141
Still getting this Error.
App Crash on Isar.open()
[code]
[code]

[2022-01-02 09:34] htsunshine opened #144 "ios phone bug"
await openIsar()

[VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: Invalid argument(s): Failed to lookup symbol (dlsym(RTLD_DEFAULT, isar_connect_dart_api): symbol not found)
#0      DynamicLibrary.lookup (dart:ffi-patch/ffi_dynamic_library_patch.dart:31:29)
#1      IsarCoreBindings._isar_connect_dart_api_ptr (package:isar/src/native/bindings.dart:200:60)
#2      IsarCoreBindings._isar_conne

[2022-01-02 10:19] leisim commented on #144
@htsunshine please switch to the stable version and regenerate your files. `openIsar` no longer exists

[2022-01-02 11:18] htsunshine commented on #144
isar^1.0.0+1    The generated file could not be found

appledeiMac-2:bgyh apple$ flutter pub run build_runner build
[INFO] Generating build script...
[INFO] Generating build script completed, took 483ms

[WARNING] Invalidated precompiled build script due to core package update
[INFO] Precompiling build script......
[INFO] Precompiling build script... completed, took 7.8s

[INFO] Initializing input

[2022-01-02 11:26] leisim commented on #144
Did you set it up according to the docs? Isar, `isar_generator`, `build_runner` and `isar_flutter_libs`

[2022-01-02 11:39] htsunshine commented on #144
Yes, version 0.4.0 can generate isar. g. dart files, not 1.0.0+1 or 1.0.0

[2022-01-02 11:52] mjablecnik opened #145 "Update TODO.md"
I think that you should update your Roadmap in your [TODO.md](https://github.com/isar/isar/blob/main/TODO.md) file.
It should be nice to know what everything is already done and what is planned to do in the future. :)

[2022-01-02 11:58] leisim commented on #145
Will do 👍

[2022-01-02 12:15] leisim commented on #144
The generator is not even running. Are you running it in the correct project (with a collection annotated with `@Collection()`? Do you have a `build.yaml`?

[2022-01-02 17:06] gid-m opened #146 "IsarLinks not saving related model"
**Steps to Reproduce**
`IsarLinks` does not save relationship. I have three models, `Student`, `Teacher` and `Subject`. A student can have several teachers and a teacher several students as well as subjects.

The classes are as follows:

Student Model:
[code]

Teacher Model:
[code]

Subject Model:
[code]

And the method that saves:
[code]

The student saves just fine but the `teachers` relationshi

[2022-01-02 19:04] ProgUser145 opened #147 "Isar inspector not working"
**Steps to Reproduce**
Hi, thank you for the stable release of Isar. I am having some problems with the most recent version. I just tried to use the sample from the "quotes" app in the docs. When I copy the uri from the terminal that is printed from connecting to the instance into the isar inspector it doesn't do anything when clicking continue. Before with version 0.4.0 it used to redirect me to

[2022-01-02 19:06] leisim commented on #147
That's weird. Do you use the latest version of the inspector?

[2022-01-02 19:20] ProgUser145 commented on #147
Yes exactly. Does it work normally for you? Then it must be on my side

[2022-01-02 19:23] leisim commented on #147
Yes, it works for me but there could still be a bug. I didn't have time to write tests for the inspector yet. It would be super helpful if you could run the inspector from the source and see if you get any errors...

[2022-01-02 19:25] ProgUser145 commented on #147
I will try that, thank you

[2022-01-02 21:14] travishaagen opened #148 "Isar-1.0.0+1 - IsarError: LmdbError (12): "Cannot allocate memory""
**Steps to Reproduce**

I was using Isar `0.4.0` and upgraded to `1.0.0+1`. Now, when running the app on an iPhone, startup fails with error:

[code]

**Code sample**

Example code using `path_provider: 2.0.8` during app startup:

[code]

The exception gets thrown from `openIsarNative` on the line `await stream.first;`

**Version**
 - Platform: iOS 15.2
 - Flutter version: `2.9.0-0.1.pre` (beta ch

[2022-01-02 21:27] leisim commented on #148
@travishaagen thanks for the report.

1. what iPhone model does it happen on?
2. did you upgrade an existing database or is it a new one?
3. how big is the database file?

[2022-01-02 21:32] travishaagen commented on #148
@leisim : It's an **iPhone SE**. I deleted the app, so it's a new, empty database.

[2022-01-03 02:51] anandsubbu007 opened #149 "Isar not working in windows after stable release"
I tried to run isar after the update to the stable version.
when I use

 the app crash

Even the sample quote app is crashing.

there may be an issue in libisar.dll file

**Version**
 - Platform: Windows

[2022-01-03 05:08] eli1stark opened #150 "[isar_generator]: Update freezed_annotation to the latest version"
Because isar_generator >=1.0.0 depends on freezed_annotation ^0.14.3 and my_project depends on freezed_annotation ^1.1.0, isar_generator >=1.0.0 is forbidden.

**Version**
 - Platform: iOS, Android, Mac, Windows, Linux, Web
 - Flutter version: 2.8.1
 - Isar version: 1.0.0

[2022-01-03 07:08] eli1stark opened #151 "[isar]: Weird id increment behaviour in stable version (-9223372036854775807)"
**Steps to Reproduce**
[code]

**Expected behavior**
Start increment from 0. I'm not sure whether it is a bug or implementation detail, can you elaborate, please. Thanks!

**Version**
 - Platform: iOS, Android, Mac, Windows, Linux, Web
 - Flutter version: 2.8.1
 - Isar version: 1.0.0
 - Isar Generator version: 1.0.0

[2022-01-03 07:23] eli1stark opened #152 "[isar_inspector]: something went wrong (sentinel kind)"
**Steps to Reproduce**
Just try to sort collection or run an empty query in the Isar Inspector.

**Code sample**
[code]

**Screenshot**
<img width="780" alt="Screenshot at Jan 03 10-15-19" src="https://user-images.githubusercontent.com/57593530/147907155-62151f4d-c4c7-42d6-ba54-c2be7d207589.png">

**Version**
 - Platform: iOS, Android, Mac, Windows, Linux, Web
 - Flutter version: 2.8.1
 - Isar ver

[2022-01-03 08:47] leisim commented on #151
@eli1stark It is working as intended. Since ids are signed 64-bit integers it will start with the lowest value.

If you want to start with 0, just insert an object with id 0 and all following auto-increments will be > 0

[2022-01-03 10:08] #151 closed

[2022-01-03 11:02] Silfalion commented on #149
Having the same error with Linux:

[code]

[2022-01-03 12:12] Pourqavam commented on #149
Hi, I'm new to Isar.
Maybe same issue:

On Windows:
[code]
On Android:
[code]
pubspec.yaml:
[code]
<details>
  <summary>flutter doctor -v</summary>

[code]
</details>

[2022-01-03 13:17] leisim commented on #149
I found the problem for the linux and windows builds but on Android it should definitely work 🧐

[2022-01-03 15:14] leisim commented on #149
@Pourqavam which Android device did you try?

[2022-01-03 15:24] barbalex opened #154 "Upgrading to Version 1.0.0: ambiguous_extension_member_access"
**Steps to Reproduce**

I tried to upgrade [this (previously working) project](https://github.com/barbalex/capturing) from 0.4.0 to 1.0.0+1.

So I changed in pubspec.yaml:
- isar: ^0.4.0 > isar: ^1.0.0+1
- isar_flutter_libs: ^0.4.0 > isar_flutter_libs: ^1.0.0+1
- isar_generator: ^0.4.0 > isar_generator: ^1.0.0+1

then ran `flutter pub get`

**Code sample**
This code inside a model:
[code]

now pro

[2022-01-03 15:27] leisim commented on #154
This is an unusual error. First I would try `flutter clean`. You also need to add part `"my_collection.g.dart"` to your collection files.

[2022-01-03 15:35] anandsubbu007 commented on #149
yep, there is no error in android.
may be need to update libisar

[2022-01-03 15:49] Pourqavam commented on #149
Samsung Galaxy J7 (2016) - Android 8.1

[2022-01-03 16:55] barbalex commented on #154
I tried `flutter clean` twice. Unfortunately it did not help.

Do you mean `import 'package:capturing/isar.g.dart';`? That is the only `.g.dart` file I import (and I can see having been created). And only where I am working with other models than the one being defined in the file.

I suppose with `collection files` you mean the files where I define my models i.e. where I use `@Collection()`.
There

[2022-01-03 17:22] barbalex commented on #154
Did that but still every one of my 19 models provokes it's own version of:
[code]

[2022-01-03 17:25] rizzi37 opened #155 "put exists model with links savechanges, app crash Failed to send request"
how to change exists model with links. (assign id)
`
put(existModel, replaceOnConflict: true)
await existModel.otherLinks.saveChanges();
`
the app crash.

im not sure it bug or my write have some wrong~

[code]

### error2
[code]

[2022-01-03 18:40] leisim commented on #154
The `isar.g.dart` file should no longer be generated. Instead you will get part files for each collection. (Much like `json_serializable`)

Maybe try removing `isar.g.dart` manually.

[2022-01-03 19:01] barbalex commented on #154
I did:
- exclude (uncomment) all code with references to isar.g.dart or other models, including imports
- removed isar.g.dart manually
- `flutter clean`
- `flutter pub get`
- `flutter packages pub run build_runner build`

Result:
[code]

This is the branch with these changes: https://github.com/barbalex/capturing/tree/isar_version_1

[2022-01-03 19:03] barbalex commented on #154
Hm. Just an idea. Is it possible that these Errors happened also in the previous version but did not block generation of isar.g.dart? If so the only difference would be that it now blocks the build.

[2022-01-03 19:05] barbalex commented on #154
Of course there are 93 files outside the models importing isar.g.dart. Don't know if that would mess with the process of building though.

[2022-01-03 19:05] leisim commented on #154
That's unlikely. Maybe it's related to the flutter beta or a new analyser version. What ist the output if you run the generator with `-v`.

[2022-01-03 19:06] barbalex commented on #154
[code]

[2022-01-03 19:11] leisim commented on #154
Okay, this seems to be a `build_runner` bug. Maybe [this](https://github.com/google/json_serializable.dart/issues/924#issuecomment-1001794388) helps. Otherwise, I would upgrade the packages, try stable Flutter and as a last resort create a new project and try it there.

[2022-01-03 19:16] barbalex commented on #154
Bingo!

I deleted pubspec.lock, ran `flutter clean`, `flutter pub get` and then:
[code]

Will read the warnings and work on updating my code to make version 1 happy. But this was the solution.

Thanks so much for this great project and unbelievable help!

[2022-01-03 19:18] #154 closed

[2022-01-03 19:18] leisim commented on #154
Awesome! You just need to add the `part 'account.g.dart';` statements to every collection file and you are good to go 💪

[2022-01-03 20:16] barbalex commented on #154
Uups. Trying to import the generated files I see that none are generated. I guess I will have to try the stable version of flutter now.

[2022-01-04 18:26] zawadZwd commented on #149
Hey, the same issue here - Samsung A21 ( 2020) on Android 11

[2022-01-04 18:27] leisim commented on #149
@zawadZwd is it a debug or release build?

[2022-01-04 18:28] zawadZwd commented on #149
It's a debug version 🤔

[2022-01-04 18:29] leisim commented on #149
Do you see the same problem on an emulator?

[2022-01-04 18:32] zawadZwd commented on #149
Affirmative:
Launching lib/main.dart on Android SDK built for arm64 in debug mode...lib/main.dart:1

[2022-01-04 18:36] leisim commented on #149
I can't reproduce the issue. I even tried on a Samsung device. Please make sure that you use isar_flutter_libs: ^1.0.0+1

For the 1.0.0 release (without +1), the binary upload failed.

[2022-01-04 18:46] zawadZwd commented on #149
Yep, you've found a reason - I'm dumb 👀
I copied the dependencies version from readme, not from pub.dev.
Sorry for wasting your time. And thanks ✌🏻

[2022-01-04 18:47] leisim commented on #149
I forgot to update the readme 😅 happy that it works now :+1:

[2022-01-04 20:33] zawadZwd commented on #147
Let me help you 😉
I also have problems with inspector, so I downloaded the source code, launched it and here what it goes after I tried to connect to my Flutter app db:

[code]

[2022-01-04 20:59] zawadZwd commented on #147
Well it is interesting. When I removed from the flutter app schema named 'PinnedContactIsar', the inspector works perfectly fine.

[2022-01-05 02:02] htsunshine commented on #144
I can generate the same thing with 0.4.0, what is the difference with 1.0.0, there are other things to do these days

[2022-01-05 02:15] htsunshine commented on #144
I can generate the same thing with 0.4.0, what is the difference with 1.0.0, there are other things to do these days

[2022-01-05 06:12] rizzi37 opened #159 "[isar_inspector]: when links added, it not work"
when have links fileds , isar_inspector not work. no connect, no failed. no resp.
i dont known how to debug, or  find any log to local whats wrong with it.

other means: it no work when have open more schemes

[2022-01-05 09:31] anandsubbu007 opened #161 "exportJson in isar Stable Version"
Is there a way to export DB data as JSON?

[2022-01-05 09:40] #161 closed

[2022-01-05 09:43] CodeDoctorDE commented on #161
there is an exportJson() method. read more here: https://pub.dev/documentation/isar/latest/isar/Query/exportJson.html

[2022-01-05 09:45] takapiroid88 opened #162 "[Android11] FileSystemException is happened at Isar.open"
**Steps to Reproduce**
execute Isar.open, directory is below.

**Errors**
[code]

**Code sample**
[code]

**Version**
 - Platform: Android
 - Flutter version: 2.2.3
 - Isar version: 1.0.0+1

help me...

[2022-01-05 09:52] leisim commented on #162
You need to provide a valid directory on the platform you are running on. I recommend using `path_provider`

[2022-01-05 10:37] takapiroid88 commented on #148
@leisim
I`m too.

platform: iPhoneX
OS version: 11.3
flutter version: 2.2.3
Isar version: 1.0.0+1

[2022-01-05 11:01] leisim commented on #148
@takapiroid88 Does it happen for a debug or release build? Do you see the issue for every launch or only sometimes?

[2022-01-05 11:08] takapiroid88 commented on #148
@leisim

i'm try debug build.
every launch happened. 3 / 3

[2022-01-05 11:11] #162 closed

[2022-01-05 11:20] leisim commented on #148
@travishaagen thanks! Could you maybe create a small sample app? I fail to reproduce the issue. That would be super helpful 🙌

[2022-01-05 13:12] barbalex commented on #154
I first did not read that correctly. Turns out that adding the part lines is needed for the builder to actually build the .g.dart files.
I believe that should be added in the documentation.

[2022-01-05 13:30] leisim commented on #159
Fixed by #160

[2022-01-05 13:30] #159 closed

[2022-01-05 13:30] leisim commented on #147
Thanks for your investigation! Fixed by #160

[2022-01-05 13:30] #147 closed

[2022-01-05 15:15] anandsubbu007 commented on #149
please share link to download libisar.dll (isar_windows_x64.dll) file for v1.0.0+1

[2022-01-05 15:17] leisim commented on #149
@anandsubbu007 [Here](https://github.com/isar/isar-core/releases/tag/1.0.4) is the link but you can't use it since it needs a small update in isar (dart) as well. I'll publish a new version later today.

[2022-01-05 15:19] anandsubbu007 commented on #149
ok tks

[2022-01-05 15:59] barbalex commented on #162
It would help noobs like me if this were the way it is implemented in the docs - or mentioned there

[2022-01-05 16:26] leisim commented on #46
Should be fixed :)

[2022-01-05 16:26] #46 closed

[2022-01-05 17:19] leisim commented on #148
@travishaagen @takapiroid88 Found the issue and fixed it. Would be awesome if you could test again with `isar: 1.0.5`

[2022-01-05 17:19] #148 closed

[2022-01-05 17:20] leisim commented on #149
Just released a fix!

[2022-01-05 17:20] #149 closed

[2022-01-05 17:20] leisim commented on #150
Updated :)

[2022-01-05 17:20] #150 closed

[2022-01-05 17:21] leisim commented on #144
Fixed. XCode stripped the binary in some cases

[2022-01-05 17:21] #144 closed

[2022-01-05 17:21] leisim commented on #12
All desktop platforms are supported now

[2022-01-05 17:21] #12 closed

[2022-01-05 17:22] leisim commented on #79
Fixed now

[2022-01-05 17:22] #79 closed

[2022-01-05 17:24] #67 closed

[2022-01-05 17:25] leisim commented on #76
Fixed now

[2022-01-05 17:25] #76 closed

[2022-01-05 17:25] leisim commented on #89
Fixed

[2022-01-05 17:25] #89 closed

[2022-01-05 18:06] leisim commented on #162
Added it here: https://github.com/isar/isar#3-open-an-instance 🙂

[2022-01-05 18:31] rizzi37 opened #166 "1.0.5 build error"
[code]

[2022-01-05 18:34] leisim commented on #166
Here is the problem: `building for iOS Simulator, but linking in object file built for iOS`. In XCode, add `arm64` as "excluded architecture" for simulators. I haven't found a way to distribute this setting with the plugin.

[2022-01-05 19:08] barbalex commented on #162
I am now a happy noob 😄

[2022-01-05 19:10] rizzi37 commented on #166
[code]

add these line to your ios/Podfile to solve ios simulator problem.

[2022-01-05 19:28] gid-m commented on #146
Figured it out. You should save all objects first before calling `save` or `saveChanges` on the relationship(`IsarLink`).
Thank you again for this amazing package.

[2022-01-05 19:29] #146 closed

[2022-01-05 19:36] gid-m commented on #141
@anandsubbu007 Use the `path_provider` package to set your `directory:` argument e.g `directory: (await getApplicationDocumentsDirectory()).path`

[2022-01-05 21:52] krsikarya opened #167 "upgrade isar_generator pub dev"
I am seeing, you have updated the Github repository(isar_generator) package to 1.0.5.
BUT pub dev is still showing 1.0.0+1.

kindly update the pub dev...https://pub.dev/packages/isar_generator

[2022-01-05 22:25] leisim commented on #167
done, thanks!

[2022-01-05 22:25] #167 closed

[2022-01-05 23:18] leisim commented on #166
Yes, that works. But you can only add it to your app `Podfile`. I can't add it to Isar's `.podspec`

[2022-01-05 23:18] #166 closed

[2022-01-06 02:19] takapiroid88 commented on #148
@leisim
Reproduced...

*Error*
[code]

pubspec.yaml
[code]

[2022-01-06 08:26] leisim commented on #148
This was an isar-core problem so you need to update isar_flutter_libs. Please always use the same version for all isar dependencies.

[2022-01-06 09:47] htsunshine commented on #144
[WARNING] isar_generator:isar_generator on lib/common/floor/entity/msg.dart:
[]
[WARNING] isar_generator:isar_generator on lib/common/floor/entity/session.dart:
[]
[WARNING] isar_generator:isar_generator on lib/common/floor/entity/user_info.dart:
[]
[INFO] 6.8s elapsed, 215/225 actions completed.
[INFO] 8.4s elapsed, 267/280 actions completed.
[INFO] 11.4s elapsed, 488/503 actions completed.
[INFO

[2022-01-06 09:50] htsunshine commented on #144
Is the generated file 'isar.g.dart' not the previous one ?

[2022-01-06 09:50] leisim commented on #144
The error messages are quite clear imo. Like for other generator  packages you need to add `part 'your_file.g.dart';` to your collection files.

[2022-01-06 09:51] leisim commented on #144
Isar.g.dart is no longer generated.

[2022-01-06 09:55] htsunshine commented on #144
谢谢，我在找找原因，不会用这个生成器

[2022-01-06 09:55] htsunshine commented on #144
Thank you. I'm trying to figure out why. I won't use this generator

[2022-01-06 09:57] leisim commented on #144
I changed the generator to the more common part generation. The reason is the upcoming static metaprogramming feature of Dart.

[2022-01-06 10:29] leisim commented on #122
I'm going to close this issue in favor of smaller more specific ones :)

[2022-01-06 10:29] #122 closed

[2022-01-06 19:42] barbalex commented on #12
And it works in my case. Thanks!

[2022-01-06 19:53] barbalex commented on #83
It works for me now too. But only for int values (maybe that always worked, but I was trying strings). It seems that it does not work for Strings.

[2022-01-06 20:02] barbalex commented on #83
Would max work for DateTime?

[2022-01-06 23:06] travishaagen commented on #148
@leisim : works in the simulator, but not on my iPhone SE (app deleted first):

[code]

[2022-01-06 23:12] leisim commented on #148
@travishaagen thanks for helping me to fix this! Is it an iPhone SE 2020 or the older model? Which iOS version does it run? do you also see this error in release mode?

[2022-01-06 23:15] travishaagen commented on #148
Good news! After cleaning up the cocoapods, it seems OK. I'll do some more testing.

[code]
^ Seems like I need to do this for a lot of plugins. Wish Flutter could manage it somehow.

[2022-01-06 23:17] travishaagen commented on #148
Original iPhone SE ;)

[2022-01-06 23:18] leisim commented on #148
phew, that is really good news! Yes, I also noticed that flutter tooling still needs a lot of work for iOS. I wish that had higher priority. Anyway, happy it works now for you! Please feel free to open issues if you experience problems 🙌

[2022-01-07 01:16] htsunshine commented on #144
Thank you. I saw your demo. It's done.

[2022-01-07 03:05] takapiroid88 commented on #148
@leisim

thanks.
working successfull!!

[2022-01-07 05:39] rizzi37 opened #168 "[Feature] links lazy load"
[code]

[code]

[2022-01-07 08:54] htsunshine opened #169 "ios phone symbol not found"
[VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: Invalid argument(s): Failed to lookup symbol (dlsym(RTLD_DEFAULT, isar_connect_dart_api): symbol not found)
#0      DynamicLibrary.lookup (dart:ffi-patch/ffi_dynamic_library_patch.dart:31:29)
#1      IsarCoreBindings._isar_connect_dart_api_ptr (package:isar/src/native/bindings.dart:332:60)
#2      IsarCoreBindings._isar_connect_dart_api_ptr (p

[2022-01-07 09:11] rizzi37 opened #170 "composite unique indexes"
[code]

[2022-01-07 09:15] rizzi37 commented on #169
#144

[2022-01-07 09:18] leisim commented on #170
Could you please add a little more information like a few whole sentences or some sample code? I don't quite understand what you mean with this issue.

[2022-01-07 09:19] leisim commented on #168
Could you please explain a little what you mean with this issue?

[2022-01-07 09:22] leisim commented on #169
Please use `isar_flutter_libs: ^1.0.5` and Run `flutter clean`.

[2022-01-07 09:34] rizzi37 commented on #170
hi @leisim  , i update with some sample code . thx~

[2022-01-07 09:46] rizzi37 commented on #168
i want to have a links data is loaded state

[2022-01-07 10:09] htsunshine opened #171 "Ios packaging failure "_isar_get_error", referenced from"
Undefined symbols for architecture armv7:
  "_isar_get_error", referenced from:
      isar_flutter_libs.SwiftIsarFlutterLibsPlugin.dummyMethodToEnforceBundling() -> () in libisar_flutter_libs.a(SwiftIsarFlutterLibsPlugin.o)
ld: symbol(s) not found for architecture armv7

**Version**
 - Platform: iOS iphone8p
 - Flutter version: 2.13.1
 - Isar version: 1.0.5
 - Isar Generator version: 1.0.5

[2022-01-07 10:11] leisim commented on #171
Isar does not contain a armv7 binary since they are no longer supported by Apple anyway.

Please go to your XCode project and remove armv7 from architectures.

[2022-01-07 12:14] rifaldhiaw opened #172 "Upgraded the analyzer version to 3.0.0 for Freezed 1.1.1"
Hi,
thanks for the awesome work! :)

Could you please upgrade to analyzer version to 3.0.0
So it compatible with freezed 1.1.1

They just upgrade it like a week ago https://github.com/rrousselGit/freezed/commit/258ee1c9e7e089c7a74e270b838f8acd84ccc95e

Thanks

[2022-01-07 14:57] #168 closed

[2022-01-07 22:19] leisim commented on #83
@barbalex how would you expect String aggregation to work? According to lexicographical order?

It should already work for DateTime :+1:

[2022-01-08 01:34] rifaldhiaw opened #173 "Exception: IsarError: MdbxError (22): "Invalid argument""
**Steps to Reproduce**
Got an exception when trying to run `isar.open`. It's happened both in samples provided here https://github.com/isar/samples and the latest version 1.0.5 in my project.
[code]

**Code sample**
[code]

**Version**
 - Platform: Android (Running on Xiamoi redmi 6)
 - Flutter version: 2.8.1
 - Isar version: 1.0.5
 - Isar Generator version: 1.0.5

[2022-01-08 03:00] rizzi37 commented on #173
[code]

[2022-01-08 14:17] barbalex commented on #83
Yes.

(hiding below my table)

When the app returns online, in all of my models I search for the last dataset synced, to query all the changes that have happened by other app instances since. So an example query is:
[code]

I am pretty sure there was a reason for using String instead of DateTime back when I developed the app first. But I did not document it and can't remember 🙄.

Anyway: That is w

[2022-01-08 16:27] anandsubbu007 opened #174 "Contains in List Filter"
In Stable version, Contains in List Where filter not found.

Is there any way to implement This Function?

[2022-01-08 19:20] leisim commented on #174
It is called `anyEqualTo` and should already work 🤔

[2022-01-09 02:18] simonpham commented on #171
@leisim can you please show us how can this be done?

I have tried several methods to update this in my project and/or Podfile but there's always an error when I attempt to archive or run `flutter build ipa`.
But `flutter build ios` is running well.

<details>
<summary>Log</summary>
<p>

[code]

</p>
</details>

[2022-01-09 13:37] leisim opened #177 "Automatically connect Isar Inspector to active debugging session (please upvote)"
Need your help to upvote a [devtools issue](https://github.com/flutter/devtools/issues/1632) to allow the Isar Inspector to be more user-friendly and not require entering the URL every time 🙌

Edit: Ideally there even was a way to load / update the inspector via the devtools but that's a stretch goal.

[2022-01-09 18:17] simonpham opened #178 "ld: Invalid value (Producer: 'LLVM13.0.0-rust-1.59.0-nightly' Reader: 'LLVM APPLE_1_1300.0.29.3_0') for architecture arm64"
**Steps to Reproduce**
1. Update build architecture to arm64 & enable Build Active Architecture only
2. Run `flutter build ipa` or Create release Archive in Xcode

ld: Invalid value (Producer: 'LLVM13.0.0-rust-1.59.0-nightly' Reader: 'LLVM APPLE_1_1300.0.29.3_0') for architecture arm64

**Code sample**
[code]

**Version**
 - Platform: iOS arm64
 - Flutter version: 2.8.1
 - Isar version: 1.0.5
 - I

[2022-01-09 18:18] simonpham commented on #178
This can be useful :)
https://stackoverflow.com/questions/52924569/how-can-i-compile-a-rust-program-with-a-custom-llc/56399256#56399256

[2022-01-09 19:15] leisim commented on #178
@simonpham Thanks for the report and link! Which version of XCode do you use?

[2022-01-09 20:30] SSebigo opened #179 "Seems like @Collection() accessor not working"
**Steps to Reproduce**
My understanding of ```@Collection``` accessor param is that it is used to generate a "getter" with the given name.

For example, if I have a class ```IsarUser``` without accessor I'll have to use ```isar.isarUsers``` to access the collection. But if I give the accessor name ```users``` (```@Collection(accessor: "users")```) then I can use ```isar.users```.

The problem is t

[2022-01-09 20:43] LeonFuss commented on #179
Im not sure what accessor is used for, but to change the name just use the @Name annotation :)
`@Collection()
@Name(“User“)
class IsarUser ({…})`

[2022-01-09 21:08] leisim commented on #179
@SSebigo thanks for reporting, that seems to be a bug. will be resolved in the next release :)

[2022-01-09 21:19] SSebigo commented on #179
@LeonFuss @Name("User") won't work for this use case, it doesn't generate the getter for the collection.

[2022-01-09 21:29] LeonFuss commented on #179
Good to know :)

[2022-01-10 14:30] richard457 commented on #2
Wanted to add my comments, I like this initiative, few things I wish to see a way of authenticating data that lands to a user device something like https://docs.couchbase.com/sync-gateway/current/channels.html to be in mind in the first place, also I don't know but would be nice for sync to be open-source too!

[2022-01-11 02:39] #171 closed

[2022-01-11 06:58] richard457 commented on #2
This like to say that specific date will be pulled by specific users, not all users etc...

[2022-01-12 07:23] MaximilianFlechtner commented on #177
@leisim  It could be done in such a way that the URL is written into a file, which the Isar inspector then reads.

`
flutter run --vmservice-out-file=isar_connect.txt
`

[2022-01-12 07:51] htsunshine opened #181 "Unhandled Exception: Invalid argument(s): Failed to lookup symbol (dlsym(RTLD_DEFAULT, isar_connect_dart_api): symbol not found"
022-01-12 15:27:30.198144+0800 Runner[16682:8571892] [VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: Invalid argument(s): Failed to lookup symbol (dlsym(RTLD_DEFAULT, isar_connect_dart_api): symbol not found)
#0      DynamicLibrary.lookup (dart:ffi-patch/ffi_dynamic_library_patch.dart:31)
#1      IsarCoreBindings._isar_connect_dart_api_ptr (package:isar/src/native/bindings.dart:332)
#2

[2022-01-12 09:39] rizzi37 commented on #181
#169

[2022-01-12 10:07] #181 closed

[2022-01-12 10:07] htsunshine commented on #169
Ios Debug mode can be initialized, but release mode fails to be initialized.

[2022-01-12 10:09] leisim commented on #181
@htsunshine did you find a solution?

[2022-01-12 10:16] htsunshine commented on #181
No, I saw you pointed me to 169 issues.Ios Debug mode can be initialized, but release mode fails to be initialized.

[2022-01-12 10:17] leisim commented on #181
Yes, I already fixed it on main. Will release a new version in the coming days 👍

[2022-01-12 10:21] htsunshine commented on #181
Thank you

[2022-01-13 01:57] htsunshine commented on #181
I want to know what you changed. I want to fix it first

[2022-01-13 11:18] aloisdeniel commented on #177
Maybe the best approach would be to integrate the inspector to the Flutter devtools ?

Remi did that with provider and [wrote an article on the subject](https://invertase.io/blog/how-to-flutter-devtool-plugin).

The main downside is that it must be part of the official devtools ...

[2022-01-13 11:33] leisim commented on #177
@aloisdeniel I agree that would be super cool (and easy because the inspector already relies on the vm service protocol).

The question is what qualifies a package to be part of the official devtools. Are there some rules / requirements or can anyone submit an extension?

[2022-01-13 18:17] UCetinkaya94 opened #182 "Watching aggregations"
**Is your feature request related to a problem? Please describe.**
Aggregations return a Future. It would be nice if we could listen to them. Let's say we have a sessions collections and want to show the sum of all sessions. This can be done with the sum operation. But we won't get notified when a sessions is added, deleted or updated.

**Describe the solution you'd like**
Expose a stream for aggr

[2022-01-13 19:47] fakalit opened #183 "frequent crashes with 1.05 from libisar.so on android x86 64 emulation device: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)"
**Steps to Reproduce**
Happens non-deterministically every 5 or so run of the app. Even if i re-run the app few times in a row without doing anything else in between, this has a chance to happen.

**Code sample**
Using the standard directory from getApplicationDocumentsDirectory().path,

backtrace:
      #00 pc 0000000000018d30  /data/app/~~-yCW--oUc3YNGp2UXxTYEg==/... -3ip1gkB0N0Z65wV8f5VO1A==/li

[2022-01-13 20:02] UCetinkaya94 opened #184 "findAll and aggregations only work for the first 99,999 items"
**Steps to Reproduce**

main.dart
[code]

https://user-images.githubusercontent.com/67158575/149399850-983cc84b-50f9-41b7-b245-5bd286e70d7a.mov

**Version**
 - Platform: only tested on the iOS Simulator (iOS 15.2)
 - Flutter version: 2.8.1
 - Isar version: 1.0.5
 - Isar Generator version: 1.0.5

[2022-01-13 20:29] richard457 commented on #2
https://www.youtube.com/watch?v=B5NULPSiOGw

[2022-01-13 20:56] leisim commented on #183
@fakalit Could you maybe provide a small, reproducible sample? That would be super helpful 🙌

[2022-01-13 22:20] leisim commented on #184
Thanks for the report! Will be fixed in the next release.

[2022-01-13 22:21] leisim commented on #182
Thanks for this suggestion. How would you like the API to look like?

Maybe we can solve it with static extension methods?

[2022-01-13 22:22] leisim commented on #137
Does this problem still happen with the newest release?

[2022-01-14 00:31] leisim commented on #184
Fixed in `2.0.0-dev.0`

[2022-01-14 00:31] #184 closed

[2022-01-14 00:31] leisim commented on #179
Fixed in `2.0.0-dev.0`

[2022-01-14 00:31] #179 closed

[2022-01-14 00:31] leisim commented on #178
Fixed in `2.0.0-dev.0`

[2022-01-14 00:31] #178 closed

[2022-01-14 00:31] leisim commented on #173
Fixed in `2.0.0-dev.0`

[2022-01-14 00:31] #173 closed

[2022-01-14 00:31] leisim commented on #172
Fixed in `2.0.0-dev.0`

[2022-01-14 00:31] #172 closed

[2022-01-14 00:32] leisim commented on #155
Fixed in `2.0.0-dev.0`

[2022-01-14 00:32] #155 closed

[2022-01-14 00:32] leisim commented on #183
Please also try version `2.0.0-dev.0`

[2022-01-14 01:39] andj207 commented on #178
@leisim after I updated the new version `2.0.0-dev.0`, the build process throws errors below:

     Error: Couldn't find constructor 'FilterGroup'.
    ../…/src/isar_connect_base.dart:122
          filter: FilterGroup(filters: [filter], type: FilterGroupType.or),
                  ^^^^^^^^^^^
    : Error: Couldn't find constructor 'FilterGroup'.
    ../…/src/isar_connect_base.dart:157
          re

[2022-01-14 04:26] rizzi37 opened #185 "[build error] 2.0.0-dev Couldn't find constructor 'FilterGroup'."
`
Error: Couldn't find constructor 'FilterGroup'.
`

[2022-01-14 04:29] UCetinkaya94 commented on #184
You're a legend ❤️

[2022-01-14 05:16] UCetinkaya94 commented on #182
Maybe something like `watchCount`, `watchSum`, `watchAverage`, `watchMin`, `watchMax`

I came up with this, but since we can watch collections only lazily, we won't get the data until something changes.

[code]

[2022-01-14 06:42] zexross opened #187 "32-bit devices: Unhandled Exception: IsarError: Cannot open Environment"
**Steps to Reproduce**
Got an exception when trying to run `isar.open`

[code]

**Code sample**
[code]

**Version**
 - Platform: Android 11
 - Flutter version: 2.8.1
 - Isar version: 2.0.0-dev.0
 - Isar Generator version: 2.0.0-dev.0

[2022-01-14 06:45] leisim commented on #187
@zexross Are you sure the path you provided exists?

[2022-01-14 06:55] #185 closed

[2022-01-14 07:31] zexross commented on #187
@leisim Thank you for the quick response:)

Yeah! I think so.

 I took the path from `(await getApplicationDocumentsDirectory()).path`. And confirmed if the directory exists by printing the dir variable shown below:
[code]
On printing `dbpath` in the code sample provided. I received the below output in the console:
[code]

Let me know if I am missing anything here!

[2022-01-14 07:36] leisim commented on #187
@zexross I just published a new release that should return more information why opening the environment fails. Would be awesome if you could share the output.

[2022-01-14 07:43] zexross commented on #187
@leisim I upgraded the dependencies and tried the app again. Sharing the output here:
[code]

[2022-01-14 07:46] leisim commented on #187
Thanks @zexross this seems to be the same issue as #173. Would it be possible to share an example that causes this? Or does it happen with the sample app?

[2022-01-14 07:56] fakalit commented on #183
I'm aware that the info I added is not all enough to reproduce the issue. I had trouble isolating it, but figured it's still better to let you know about its existence all the same.

Either way, many thanks for the new version. Especially isar.clear() is a godsend.

The good news is that using 2.0.0-dev.0, the frequency of the problem occurring decreased significantly. And each rare time it happen

[2022-01-14 08:08] leisim commented on #183
@fakalit Thanks you so much, this is extremely helpful! Please never hesitate to open issues :+1:

[2022-01-14 08:14] leisim commented on #183
Which Android version does the emulator run?

[2022-01-14 08:19] fakalit commented on #183
**CPU/ABI: Google APIs Intel Atom (x86_64)**
**Target: google_apis [Google APIs] (API level 30)**

Rest of the device info:

Skin: pixel_4
SD Card: 512M
fastboot.chosenSnapshotFile:
runtime.network.speed: full
hw.accelerometer: yes
hw.device.name: pixel_5
hw.lcd.width: 1080
hw.initialOrientation: Portrait
image.androidVersion.api: 30
tag.id: google_apis
hw.mainKeys: no
hw.camera.front: emulated
hw

[2022-01-14 08:34] zexross commented on #187
@leisim No, it's not happening with the sample app. I will soon try to test with the sample app from my side though.

I am sharing the schema class:
[code]

After running the code generator using `flutter pub run build_runner build`. After the app when `Isar.open` is called the mentioned exception is thrown. I am sharing the exact code used for invoking it as well:

[code]

Also, I am sharing all

[2022-01-14 09:20] zexross commented on #187
Hello @leisim ,

I tried testing it on the [Sample App](https://github.com/isar/samples) on two physical android phones that I have. These are my finding:

- It worked for Android 11 and failed for Android 10 with the same issue. This is the same time when I realised that I mentioned the wrong android version while opening the issue. I realised this when I tested it with my other smartphone. Reall

[2022-01-14 10:22] leisim commented on #187
@zexross Thanks so much for your awesome help! Unfortunately I still fail to reproduce it with a debug build of the sample app.

I tried:
- Android 10 emulator (arm64)
- Android 10 Samsung device
- Android 10 Xiaomi device
- Android 9 Xiaomi device

All of them worked without issue...

[2022-01-14 10:37] fakalit commented on #183
I think I might have found the root cause.

It happens when I call ".load()" method subsequently in a chain. I made sure to properly await the results of each link before moving into loading its children links and this properly worked most of the time, but apparently every now and then it causes a memory allocation issue. When i moved each load operation to its relevant component and waited until

[2022-01-14 10:45] zexross commented on #187
@leisim That's interesting. If possible, can you try the below mentioned or similar specs as well 🙂:

-  SM J710F (Samsung Galaxy J7 mobile) | 3100f3f3ad7313cd | android-arm | Android 8.1.0 (API 27)
- MOA LX9N (Honor 9 mobile) | LSDBB20629207194 | android-arm | Android 10 (API 29)

These are the outputs from `flutter doctor -v`

Thanks a lot for putting in this much effort. Really appreciate it. A

[2022-01-14 15:51] leisim commented on #187
I could reproduce it on a Samsung Galaxy J7 🎉 thanks again! working on a fix now

[2022-01-14 16:53] leisim commented on #187
Seems to be an libmdbx error. I opened an issue https://github.com/erthink/libmdbx/issues/262

[2022-01-14 22:32] DJafari opened #189 "where id in [1,2,3]"
is possible make query something like this  ?

[code]

[2022-01-14 23:03] DJafari commented on #189
i found a way, but is it optimize for large ids list ?

[code]

[2022-01-15 07:41] UCetinkaya94 opened #190 "IsarLinks documentation seems to be outdated"
Both the `Queries` and `Links` sections in the documentation use the `@IsarCollection` annotation, which seems to be replaced by `@Collection()`.

And the example query also doesn't work anymore. The generated code doesn't have a property for the linked collection:

[code]

**Version**
 - Platform: iOS, Android, Mac, Windows, Linux, Web
 - Flutter version: 2.8.1
 - Isar version: ^2.0.0-dev.1
 - Is

[2022-01-15 10:31] leisim commented on #189
Hey @DJafari

You should use something like this:

[code]

Or if you have a range of ids:
[code]

These queries directly use the primary index (id) and are very fast.

[2022-01-15 11:24] #189 closed

[2022-01-15 14:20] andj207 commented on #187
It happens on my iPhone 5S too. It crashes on every first launch of the app and then works well. The error is as below (from Crashlyrics):

    Crashed: Thread
    0  libsystem_platform.dylib       0x8590 _platform_memset + 32
    1  isar_flutter_libs              0x11c5b0 mdbx_env_open + 1172
    2  isar_flutter_libs              0x465b0 isar_core::instance::IsarInstance::open_internal::h90ccdd5b

[2022-01-16 21:32] UCetinkaya94 opened #192 "Querying by DateTime doesn't seem to work"
**Steps to Reproduce**

[code]

**Version**
 - Platform: tested on iOS simulator and Android Emulator
 - Flutter version: 2.8.1
 - Isar version: ^2.0.0-dev.1
 - Isar Generator version:^2.0.0-dev.1

[2022-01-17 16:38] rizzi37 opened #193 "app crash, once writeTxn data size maybe than 10m ?"
I have a big JSON object (30m) to save in DB, once write use writeTxn(), the app crashed, when resized to 10m, the crash is still in.

[2022-01-18 09:54] javadi69 opened #194 "APK size optimization"
**Is your feature request related to a problem? Please describe.**
Kind of, I built APK for arm64 devices but the APK also includes both x86_64 and armeabi-v7a libraries.
`flutter build apk --target-platform android-arm64 --obfuscate --split-debug-info=./symbols`

**Describe the solution you'd like**
Exclude unused libisar.so for other architectures to reduce the APK size.
This will reduce the siz

[2022-01-18 13:32] leisim commented on #194
Please try the `--split-per-abi` flag https://docs.flutter.dev/deployment/android#build-an-apk

[2022-01-18 17:37] ProgUser145 opened #195 "Isar inspector unable to connect"
**Steps to Reproduce**
Hi, I was trying to launch the Isar inspector with the example _quotes_ app and it didn't open at first. After I ran it with the source code it threw the error:

[code]
**Version**

 - Platform:  Mac
 - Flutter version: 2.8.1
 - Isar version: latest
 - Isar Generator version: latest

[2022-01-18 23:48] Peng-Qian opened #196 "Non-lazy(Automatic) IsarLink/IsarLinks save() and load()"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the collection have many link/links since the all of them need manually call `save()` and `load()`, I understand this might help to improve performance if user only create/update of few of these fields, but it almost the top pain to manage and maintain these lazy link/links.

**Describe the solution you'd

[2022-01-20 12:10] leisim commented on #196
Thanks for this request. It's not planned in the immediate future because of performance considerations but I'll keep it in mind :+1:

[2022-01-20 12:11] leisim commented on #194
This sounds more like a Flutter problem. Are the other native dependencies (like the flutter engine itself) excluded?

[2022-01-20 12:12] leisim commented on #195
Are you sure that the connection URL is correct? (All the characters are needed)

[2022-01-20 12:13] leisim commented on #193
Sorry I'm not 100% sure what you mean? Is the problem that inserting a json object >10mb crashes and <10mb works?

[2022-01-20 12:13] leisim commented on #192
Thanks for the report!

[2022-01-20 13:07] rizzi37 commented on #193
yes.

[2022-01-20 15:46] ProgUser145 commented on #195
I did try multiple times and different versions or phones. In IOS emulator for example it throws this error

`flutter: ERROR: Unable to connect to VMService
flutter: WebSocketException: Connection to 'http://127.0.0.1:57916/My-AuthCode-here/#' was not upgraded to websocket
flutter: #0      _WebSocketImpl.connect (dart:_http/websocket_impl.dart:1011:41)
#1      WebSocket.connect (dart:_http/websock

[2022-01-20 15:46] #195 closed

[2022-01-20 18:57] qyu37 opened #197 "how to use isarlinks with freezed"
if allowed, please add a test. thx 🌺

https://github.com/isar/isar/blob/main/packages/isar_test/lib/freezed_model.dart

[2022-01-21 04:36] rizzi37 opened #198 "freeezed with isar generator custom type convert annotation not work"
[code]

[2022-01-21 04:50] #198 closed

[2022-01-21 09:36] asaph26 opened #199 "Support for Encryption"
**Is your feature request related to a problem? Please describe.**
The support for encryption when writing/reading data to/from disk.

**Describe the solution you'd like**
This can be similar to the current crypto implementation in HiveDB. An enhancement to this would be to be able to handle larger workloads. Hive loads the entire data which at times leads to a memory overflow.

**Describe alterna

[2022-01-21 11:35] ayalma commented on #184
Hi body
When do you going to release 2.0.0 stable version?

[2022-01-21 11:55] MaddinMade commented on #192
I don't know if this is related to this error, but my composite key over a String and a DateTime is not working correctly either.

[code]

The following two queries do not work. I get back an empty list, unlike with filter():

[code]

[2022-01-21 12:14] javadi69 commented on #194
Yes, both libflutter.so and libapp.so are excluded.

[2022-01-21 12:48] rizzi37 commented on #199
https://github.com/isar/isar/discussions/176 here some discussions about encryption

[2022-01-21 19:00] JsonLinesCode commented on #198
How did you got rid of this ?

[2022-01-21 22:59] #174 closed

[2022-01-22 09:18] rizzi37 commented on #198
no use freezed. manual manage it. @JsonLinesCode

[2022-01-22 11:46] leisim commented on #193
@rizzi37 I can't reproduce the issue with isar `2.0.0`. Do you still see it? What is the exception? Do you have some sample code?

I tried importing 100mb of json and it worked fine 🤔

[2022-01-22 13:40] leisim commented on #183
@fakalit That's super helpful! Do you have sample code that causes a crash?

[2022-01-22 14:00] rizzi37 commented on #193
@leisim thx. have you tests same time with multiple links data? like this:

[code]

[2022-01-22 23:46] jackdy19 opened #203 "Isar inspector on android device not able to connect"
**Steps to Reproduce**
Hi, I am trying to connect to the isar inspector, but it is throwing this error after I paste the URL to connect:
**Code sample**
[code]

I thought the isolate Id would be null, but it is not the case as printed also above. Can sb please point me in the right direction what could be the issue?

**Version**
 - Platform: Android, Mac
 - Flutter version: 2.8.1
 - Isar version:

[2022-01-23 11:34] Peng-Qian opened #204 "save() multiple link/links will result app crash"
### Steps to Reproduce
If a collection has many link/links (espacially in nested link/links), call save() will result app crash
and flutter will not catch the error but Xcode can catch it, it seems[ `A crash due to a memory access issue occurs when an app uses memory in an unexpected way.`](https://github.com/isar/isar/issues/new?assignees=leisim&labels=problem&template=bug_report.md&title=)
<deta

[2022-01-23 11:44] Peng-Qian commented on #204
I found this bug when I created auto-save(), auto-load() and garbage collection for isar after I create feature request #196

As you can see above, it is not easy to handle save, load and garbage collection for complex collection in current way, and I only be able to handle these logic in flutter/dart level, so if isar can provide some API like `saveAll()` or `loadAll()`, it could significantly im

[2022-01-23 12:45] leisim commented on #204
@Peng-Qian Thanks for the detailed report, I'll fix this issue with the next release.

[2022-01-23 13:21] jacodek commented on #204
Also experiencing the same issue after upgrading from 1.0.5 to 2.0.0.

**Version**

- Platform: iOS, Android
- Flutter version: 2.8.1
- Isar version: 2.0.0
- Isar Generator version: 2.0.0

[2022-01-24 03:19] rizzi37 commented on #193
#204

[2022-01-24 03:19] #193 closed

[2022-01-24 08:23] asaph26 commented on #199
Thanks @rizzi37 @leisim . Closing this.

[2022-01-24 08:23] #199 closed

[2022-01-24 09:00] jtzell opened #206 "BUG: generator does not properly escape field with special character $"
**Steps to Reproduce**
**Case 1:**
[code]
Build the above model will produce error extension code.

**Case 2**
[code]
Build the above model will STILL produce error extension code., since `$fieldWSpecialCharacte` is not ignore at all.

**Version**
 - Platform: iOS, Android, Mac, Windows, Linux, Web
 - Flutter version: 2.8.1
 - Isar version: 2.0.0
 - Isar Generator version: 2.0.0

[2022-01-24 10:58] jtzell opened #207 "BUG: `getAllByIndexSync` return wrong id"
**Steps to Reproduce**
**Model**
[code]
Use `putSync` to save model, and retrieved it back by `guid`.
[code]
The above code will throw assertion exception, since `offineId` return by `getAllByIndexSync` is not same as `model.offlineId` assigned to the model by `putSync`.

**Version**
 - Platform: iOS, Android, Mac, Windows, Linux, Web
 - Flutter version: 2.8.1
 - Isar version: 2.0.0
 - Isar Genera

[2022-01-24 11:25] leisim commented on #207
Thanks for the report! Does it work with `getAllByIndex()` (the async version of this method)?

[2022-01-24 14:35] jacodek commented on #185
@rizzi37 - did you find a solution for this? I'm having the same issue running version 2.0.0-dev.0

[2022-01-24 14:50] rizzi37 commented on #185
@jacodek has fixed, current version is 2.0.0

[2022-01-25 03:43] jtzell commented on #207
Yes, `getAllByIndex()` also have the same problem.

Moreover, I'd like to note that the field `guid` is annotated with `@Index(unique: true, type: IndexType.value, caseSensitive: true)`. I forgot the mention that in the previous comment (and just edit it).

[2022-01-25 09:33] snehmehta commented on #90
I have build isar inspector for windows. Executable file is shared on google drive link below.

[Isar Inspector windows - Drive link ](https://drive.google.com/drive/folders/1sXvfywjLQ5-y8W8PgPIYw3RhWhBDWUKX?usp=sharing)

Make sure to download all into one folder.

[2022-01-25 17:31] spatialbits commented on #112
I'm running into this.  Using `1.0.5, added several new int and double properties to my model and started receiving `offset < _staticSize` errors when trying to write. Upgraded to `2.0.0` and also receiving the error.

[2022-01-25 17:33] leisim commented on #112
@spatialbits thanks for letting me know. It would be extremely helpful if you could send me the model before and after the changes 🙌

[2022-01-25 18:08] spatialbits commented on #112
yeah for sure.

![image](https://user-images.githubusercontent.com/4192023/151033785-39b01905-8e39-414d-b88b-73cfe4ca57f5.png)

(in case string constants scratch your eyeballs, I'm still experimenting with working out how get string prop names for building queries before passing into isar collection objects. Would you suggest using a generator?)

[2022-01-25 18:18] leisim commented on #112
Thanks a lot! I will take care of it.

[2022-01-25 18:20] spatialbits commented on #112
loving your work btw. Great job 🚀

[2022-01-26 18:26] ozzfelipe commented on #187
I got the same error here. Is there any solution for this?

Devices with problem:
SM A01 | 32-bit | Android GO 10

[2022-01-26 22:02] leisim opened #209 "How to write a converter for this class"
### Discussed in https://github.com/isar/isar/discussions/208

<div type='discussions-op-text'>

<sup>Originally posted by **Anan-Saadi** January 26, 2022</sup>
I read the docs about converters but I am confused on how to write a converter for a class with with multiple parameters
[code]

You can see above that I have an isar model that stores some data plus a list of messages, I tried converting

[2022-01-26 22:25] leisim commented on #204
Fixed. releasing a new version soon

[2022-01-27 12:52] snehmehta commented on #190
`  .teachers( // => The method 'teachers' isn't defined for the type 'QueryBuilder'
        (q) => q.subjectEqualTo('Math').or().subjectEqualTo('English'),
      )`
So, is this a generator issue or a documentation issue?

Also if it's a documentation issue, then what's the updated ways of querying Isarlink ?

[2022-01-27 16:02] JsonLinesCode commented on #46
I'm still getting this error on MacOS...

[2022-01-27 19:09] Anan-Saadi commented on #209
So I have been missing around with this issue today and I wasn't able to solve it but I found out that `Unhandled Exception: LateInitializationError: Field 'messages' has not been initialized.` just means null, but because the variable is `late` it was throwing this error, also I noticed that in `Isar Inspector` `messages` doesn't show up, there is no column for it, but I don't know if this is by-

[2022-01-28 18:13] JsonLinesCode commented on #203
I am getting the `ext.isar.getVersion: (-32601) Unknown method "ext.isar.getVersion".` from #46 on both windows and macos

[2022-01-28 22:37] joaopinacio commented on #190
Same here, i was trying to use Isar on my Flutter Project and everything that is in documentation seems outdated, especifically the query filters and where clauses.

[2022-01-29 15:01] leisim opened #213 "Optimize saving links asynchronously on `.put()`"
`await col.put(obj)` saves all the associated links separately. This could be optimized.

[2022-01-29 23:25] leisim commented on #207
Fixed in `2.1.0` 🙌

[2022-01-29 23:25] #207 closed

[2022-01-29 23:25] leisim commented on #204
Fixed in `2.1.0` 🙌

[2022-01-29 23:25] #204 closed

[2022-01-29 23:26] leisim commented on #183
Fixed in `2.1.0` 🙌

[2022-01-29 23:26] #183 closed

[2022-01-29 23:27] leisim commented on #170
Fixed in `2.1.0` 🙌

[2022-01-29 23:27] #170 closed

[2022-01-29 23:46] leisim commented on #206
Ignore works now with `2.1.0`. Working on special chars!

[2022-01-30 08:04] anandsubbu007 opened #214 "Error Occurs When Try to run flutter build apk"
Problems Occurs When 'Isar.open()' function runs.

[code]

[code]

An Error occurs in External Library only on Android Build.
Working fines in Windows Build

[code]

[2022-01-30 08:15] leisim commented on #214
This looks more like a Flutter problem than an Isar bug 🤔

Did you try `flutter clean`? Did you try running the quotes sample app?

[2022-01-30 08:58] anandsubbu007 commented on #214
https://github.com/flutter/flutter/issues/97301#issue-1115267025

yep i tried it after `flutter clean`

[2022-01-30 15:34] simonpham commented on #214
@anandsubbu007

You should not place flutter in the path that contains space characters like that.
Try moving it to C:\Dev\flutter to see if the issue is gone

[2022-01-30 16:15] anandsubbu007 commented on #214
Still Facing This Issue.

[2022-01-30 16:15] anandsubbu007 commented on #214
Still Facing the same Issue

[2022-01-30 19:18] msxenon opened #215 "opening second Isar instance crashes the app"
**Steps to Reproduce**
Open Isar Instance
Close it and delete its folder
Open new instance in a new folder

Logs
I/flutter: Using temporary DB directory Directory: '/data/user/0/io.objectbox.dartbench/app_flutter/UUNKGV' for DbEngine.IsarSync
I/flutter: _createExecutor for DbEngine.IsarSync
W/1.ui: type=1400 audit(0.0:1833): avc: denied { getattr } for path="/mnt/vendor" dev="mmcblk0p1" ino=2 scon

[2022-01-30 20:03] leisim commented on #215
Thanks for the report! Do you have a few lines of sample code?

[2022-01-31 12:58] robban112 opened #216 "The generated auto incremented id is "restarted" when the app is restarted"
Hi!
I've had problems with overwrites in my app for a certain collection, and I've come across an issue.

**Steps to Reproduce**

Using an auto incremented id with a model where the id is optional. Isar handles the auto increment correctly while running the app in one session, starting at int.MIN (-9223372036854775807) and incrementally increases towards int.MAX.

When restarting the app (closing

[2022-01-31 13:19] leisim commented on #216
Thanks for reporting! That is not intended and I will push a new version with a fix later today :+1:

[2022-01-31 13:50] msxenon commented on #215
Sure
1. Opening DB
https://github.com/msxenon/flutter-db-benchmarks/blob/to_packages/lib/main.dart#L143
https://github.com/msxenon/flutter-db-benchmarks/blob/to_packages/databases/isardb/lib/executor_plain.dart#L23

PS I have commented closing Isar to prevent this error for now

[2022-01-31 14:08] robban112 commented on #216
Thanks! Awesome job by the way, love the package 👍

[2022-01-31 16:24] leisim commented on #214
Unfortunately I still cannot reproduce it :(

[2022-02-01 05:51] anandsubbu007 commented on #214
there is an issue with flutter not being in isar package.
`Flutter AOT precompiler crash using isar package.`
I believe that they were working on it.

[2022-02-01 09:30] leisim commented on #216
Fixed in `2.1.4` :+1:

[2022-02-01 09:30] #216 closed

[2022-02-01 09:30] leisim commented on #215
Fixed in `2.1.4` :+1:

[2022-02-01 09:30] #215 closed

[2022-02-01 09:30] leisim commented on #206
Fixed in `2.1.4` :+1:

[2022-02-01 09:30] #206 closed

[2022-02-01 17:42] spatialbits commented on #187
Also experiencing this on Samsung SM T580 tablet with Isar 2.1.0.

[2022-02-02 22:08] frogman1189 opened #217 "[IsarInspector] _InternalLinkedhashMap<String,dynamic> is not subtype of Map<String,Object> in type cast"
**Steps to Reproduce**
Using m1 Mac, running MacOS 11.6
- Start project with inspector enabled
- Load Quotes
- open Isar Inspector 2.1.4
- paste isar inspector url in
- go to a page which has data
- Error occurs:
![Screen Shot 2022-02-03 at 11 09 20 AM](https://user-images.githubusercontent.com/20494957/152245803-f8c1085c-c2b8-47ea-9f70-e652db6bb80a.png)

Worth noting, version 1.0.5 works, but I h

[2022-02-03 10:22] leisim commented on #214
Going to close this because the flutter bug is fixed :)

[2022-02-03 10:23] leisim commented on #187
@spatialbits Some older devices run a 32-bit Android version even if the processor is capable of 64-bit :(

[2022-02-03 20:56] FineFindus opened #218 "Not storing UTC property of DateTime"
When a datetime object is stored, the utc property gets lost.
**Steps to Reproduce**
When utc date is stored and queried later, the date is no longer a utc date, as can be seen in the example below.

**Code sample**
[code]

**Version**
 - Platform: Linux
 - Flutter version: 2.8.1/2.10.0
 - Isar version: 2.1.0
 - Isar Generator version: 2.1.0

[2022-02-03 20:59] leisim commented on #218
Thanks for reporting this but it's working as intended. Isar always stores dates in UTC and returns them in local timezone. You can create an additional `isUTC` field if you want to store this information.

I'll update the docs :)

[2022-02-04 01:43] frogman1189 opened #219 "[ISAR] Fail to load links when watching a collection"
** Description**
When watching a collection sometimes fails to load links. I originally found this when I had a filter condition applied, but while writing this found it also triggered when you simply use:
[code]

**Steps to Reproduce**
Rapidly click "Add Parent" and "Replace Parent" buttons. Sometimes it takes a while but should trigger issue.
I have found that if you run it, add a couple parents

[2022-02-04 06:10] prakharb10 commented on #187
Hi @leisim
Not sure if this is the right place to report this or should I open a new issue but I'm facing a similar error when trying to run my app on Pixel 4a API 30 (x86) emulator. The error raised is:
`Invalid argument(s): Failed to load dynamic library 'libisar.so': dlopen failed: library "libisar.so" not found
`
I have added `isar_flutter_libs` to the pubspec file and the app works fine on my

[2022-02-04 06:42] leisim commented on #219
Thanks a lot for the report and sample code. Could you maybe try whether that also happens with the latest isar version?

[2022-02-04 06:43] leisim commented on #187
@prakharb10 do you use tle latest isar version?

[2022-02-04 06:46] prakharb10 commented on #187
Yes, I'm using version ^2.1.4

[2022-02-06 20:00] FineFindus opened #222 "Better support for DateTime"
**Is your feature request related to a problem? Please describe.**
Currently it is very verbose to query for a specific datetime and the method names are kind of unusual.
For example if you want to query for a datetime after a certain date,
a greaterThan Method is used, as can be seen in this example.

[code]

**Describe the solution you'd like**
I think it would be better to have similar method n

[2022-02-06 21:40] leisim commented on #222
Thanks for this request! I completely agree with `.dateBefore()` and `.dateAfter()`. I'll add those with the next version of Isar.

Not so sure about the other proposed methods. Somehow they don't feel in line with the rest of the query API 🤔 I'll need to think about it...

[2022-02-07 06:30] Hcs66 commented on #190
The `generateQueryLinks` method has been commented in `isar_generator/collection_generator.dart` line 38, so that there has no link extensions generated.

Is the link function not ready for releasing? @leisim

[2022-02-07 20:29] frogman1189 commented on #219
I was using (and have double checked that it still occurs) isar 2.1.4. I can't see any newer version than that on pub.dev.
I was using an older version of ISAR Inspector, but don't need to have that running, and I use the older version as there seems to be a conversion error when I use any of the newer ones (https://github.com/isar/isar/issues/217)

Video of error occurring. At very end I hot rest

[2022-02-08 19:23] spatialbits opened #225 "Crash on iOS first launch. EXC_BAD_ACCESS"
**Steps to Reproduce**
- Fresh install on iOS device.
- Start app.
- When initializing Isar the app crashes.
- Restart app, Isar initializes OK and app runs.
- Same code on Android phones does not encounter the same error.

[code]

**Code sample**
[code]

**Version**
 - Platform: iOS: 14.8.1 (iPhone 7), iOS 15.2.1 (iPhone SE 2nd generation), 14.8.1 (iPhone SE 2nd generation)
 - Flutter version: 2.

[2022-02-08 19:29] leisim commented on #225
@spatialbits Do you have sample code that reproduces the issue? That would be greatly appreciated 🙂

[2022-02-08 20:45] florian-lefebvre commented on #187
I'm facing the same issue with isar `2.1.4` on a Samsung Galaxy A10 (Android 11).
What can be done to solve this problem? Tell me if I can help you by doing tests or providing more information.
FYO the app is at https://github.com/EduWireApps/ynotes.

[2022-02-08 21:38] spatialbits commented on #225
OK give this a try:
https://github.com/spatialbits/test_isar_crash

This crashes for me on first run. On second run it starts OK.

[2022-02-08 22:25] frogman1189 commented on #219
Upon further investigation, it seems to be caused by trying to read while writing at the same time.

# test actions
1. tap replace parent x1000
2. click read parent

If they are clicked one after the other it should throw the null check error (otherwise try click quicker or increase replacement number) If you give it a little bit of time between clicking each button it should print 'read parent'
(

[2022-02-08 22:51] frogman1189 commented on #219
If you only want to read items you can wrap the read function inside `isar.writeTxn`
e.g

[code]

however that doesn't solve the issue when watching entities. The best I've managed is to transform the stream such that it re-queries the database for each item in the returned stream list and loads their items in a transaction, however that adds a large amount of overhead

[code]

[2022-02-09 05:08] simonpham commented on #225
same issue, using Flutter 2.10.0 & device iPhone 12 (iOS 15.3)

[2022-02-09 08:29] leisim commented on #225
Thanks so much for your help! I cannot reproduce it on my iPhone 13 but I was able to do so on a Browserstack iPhone SE. I'm working on a fix :)

[2022-02-09 18:35] FineFindus opened #226 "Using a where clauses with dateBetween does not return results"
**Steps to Reproduce**
When querying for `.dateBetween()` with `.where()` no results are found.
Using `.filter()` with the same query works. If I understand the docs correctly, both should have the same results.

**Code sample**
The schema used:

[code]

[code]

**Version**

- Platform: Linux
- Flutter version: 2.10.0
- Isar version: 2.1.0
- Isar Generator version: 2.1.0

[2022-02-09 21:35] tapkain opened #227 "IN clause"
Hi, it would be useful to have the IN clause, eg

[code]

[2022-02-09 21:42] leisim commented on #227
You can already do that using:
[code]

[2022-02-10 07:38] leisim commented on #190
I didn't have all the unit tests ready to enable it. Hopefully the next release will fix that :)

[2022-02-10 09:18] tapkain commented on #227
wow, I have yet to discover the power of isar 💪 thank you.

[2022-02-10 09:18] #227 closed

[2022-02-10 14:15] zawadZwd commented on #209
There shoudn't be:

[code]
?

[2022-02-10 15:11] ZahidTekbas opened #228 "Schema is not defined"
**Steps to Reproduce**
I have decided to use [Isar database](https://pub.dev/packages/isar) in my next project and I find it much helpful when dealing with local data.

I followed the [quickstart guide](https://isar.dev/tutorials/quickstart.html) in its website. I added dependencies. Annotated the contact class. Ran code generator. But at fourth step, I have problem creating schema while creating

[2022-02-10 16:06] ZahidTekbas commented on #228
Yes I did it. This is the example class I copied from the guide:

[code]

[2022-02-10 16:55] simonpham commented on #228
You need to add `part 'contact.g.dart';` then run `flutter pub build_runner build` again.

[code]

[2022-02-11 17:19] anandsubbu007 opened #233 "Is Data Sync across Devices support Available?"
Hi, Thanks for your Contribution.

I don't have much knowledge about server-side implementation. currently, I'm using firebase for my app.

is isar support data sync across devices like mentioned on Objectbox?
is there any other way that can I connect various devices?

[2022-02-11 17:52] leisim commented on #233
Not currently :) Status is tracked in #2

[2022-02-11 17:52] #233 closed

[2022-02-11 20:27] florian-lefebvre commented on #187
Hi @leisim sorry for the ping but supporting 32 bit devices seems (and is for me) quite important and don't know if you were notified of my last comment. This issue is currently preventing our organization from publishing the app.

[2022-02-12 08:21] leisim commented on #187
@florian-lefebvre It is not resolved yet. https://github.com/isar/isar/issues/187#issuecomment-1013291658

[2022-02-12 09:11] hafeezrana opened #234 "Android Invalid argument MdbxError (22)"
**Steps to Reproduce**
after installation on android , I get "Unhandled Exception: IsarError: Cannot open Environment: MdbxError (22): Invalid argument".
please check this.

**Code sample**
 Android level build.gradle:

buildscript {
    ext.kotlin_version = '1.6.10'
    repositories {
        google()
        mavenCentral()
    }

    dependencies {
        classpath 'com.android.tools.build:grad

[2022-02-12 10:17] leisim commented on #234
This is a duplicate of #187

[2022-02-12 14:50] talesbarreto opened #235 "`offset < _staticSize: is not true` after migration"
Hi there.
I'm considering using Isar in a new project. I have traumatic experiences with DB migrations in previous projects so I'm trying to do some experiments to see how well Isar can handler with that.

I read the [doc](https://isar.dev/schema.html#schema-migration). it tells what can and can not do on schema migrations and nothing else. I assumed that there is nothing to be done: I can simply

[2022-02-12 20:56] henk-lim commented on #197
Why was this closed? Did you find a solution?

Isar links doesn't work with freezed right now because it must be initialised with a non const/literal. Freezed does not allow this.

[2022-02-13 10:46] leisim commented on #235
A new Isar version will be released today or tomorrow :)

[2022-02-14 02:39] rizzi37 commented on #197
the reason as you say. it conflict.

[2022-02-14 09:27] leisim commented on #235
Released!

[2022-02-14 09:27] #235 closed

[2022-02-14 09:28] leisim commented on #213
Done!

[2022-02-14 09:28] #213 closed

[2022-02-14 09:59] leisim commented on #197
It should work with the latest Isar version. I didn't have time to write tests yet however...

[2022-02-14 10:00] leisim commented on #225
Found a fix. Waiting for a new libmdbx release!

[2022-02-14 15:29] gosemathraj opened #236 "Custom objects are always null even if appropriate converters are used"
**Steps to Reproduce**
Suppose you have a Student model which has a Teacher dependency inside it. When student object is stored in the db, its teacher object is always null.

What i am doing here ?
1. Fetching student sample json response from StudentRepository
2. In StudentController, saving the Student object in the DB
3. Listening to db changes via Streams
4. When the Stream is triggered, fetch

[2022-02-14 15:56] leisim commented on #236
If you are using the newest Isar version you have to set `saveLinks: true` for the put operation :)

[2022-02-14 16:52] richard457 opened #237 "Isar Inspector on Windows"
How to install  Isar Inspector  on windows

[2022-02-14 17:04] spatialbits commented on #225
Nice!
Found it:
https://github.com/erthink/libmdbx/issues/267
And the fix:
https://github.com/erthink/libmdbx/commit/925a673d57f10ac4bb73652b831cb1ba5aefcdbe

Thanks for looking into it 👍

[2022-02-14 17:11] leisim commented on #237
It's a Flutter app, you can run it from source. Unfortunately I didn't have time to automate and test the build in the CI.

A PR would be greatly appreciated if you'r interested 🙂

[2022-02-14 18:10] richard457 commented on #237
sure, will look at it in my free time.

[2022-02-14 18:12] richard457 opened #238 "Allow query operations for IsarLinks"
I think it would be better to have something like  teacher.students.length  and other method as long as the relation exist.

[2022-02-15 02:32] richard457 commented on #238
[code]
[code]
[code]
I can not call ipost.users.lenght or ipost.users.isEmpty and other methods on List. I think would be cool if that is a possibility as

[2022-02-15 08:04] flocbit commented on #238
@leisim As far as I understand @richard457 he is looking for a way to use length, isEmpty etc. on not yet loaded IsarLinks.

This would actually be a huge improvement imho :)

[2022-02-15 13:39] jtzell opened #247 "[BUG] `buildQuery` on multiple indexed fields always return only 1 object"
**Steps to Reproduce**
Model:
[code]
Code
[code]

**Version**
 - Platform: iOS, Android, Mac, Windows, Linux, Web
 - Flutter version: 2.10.1
 - Isar version: 2.2.0+1
 - Isar Generator version: 2.2.0+1

[2022-02-15 20:11] krsikarya opened #249 "IsarLink return Null"
**Version used** -  isar: ^2.2.0+1

When trying to read Link Object, it's always return null. Here is my sample.

**POST Entity**
[code]

**USER Entity**
[code]

**Saving**
[code]

**Reading**
[code]
Here, i am getting `posts`  results correct BUT with `user` as null.

if reading `users` separately, It's return the correct results too.

[2022-02-15 23:47] frogman1189 commented on #249
Before reading a link's value in isar you need to call `await link.load`
for nested links you can do something like this (unless new features have been added which make it redundant)
[code]

then in read
[code]

[2022-02-16 01:12] krsikarya commented on #249
Thanks for reply @frogman1189 .

Solution:
[code]

Based in this https://isar.dev/links.html#isarlinks, Loading IsarLink objects...

Actually, i was expecting the more simple solution.  A single query may return Object and it's linked  obj if any...

As, `put` \ `putAll` has argument (saveLinks: true) to save `linked object`, similarly good to have `query` mechanism to fetch object and their linke

[2022-02-16 10:21] gosemathraj commented on #236
Any update on this ? I tried this relationship with IsarLink too but the dependency is always null.

[2022-02-16 21:35] jackdy19 opened #251 "Isar inspector issue when clicking on any collection"
I am receiving an error with Isar Inspector. It opens without any problem, but when clicking on any of the collections it shows this error message:

[code]

I am not sure if this is an issue on my side? And many thanks for this awesome package!

**Version**
 - Platform: iOS, Mac,
 - Flutter version: 2.10.1
 - Isar version: 2.2.0
 - Isar Generator version: 2.2.0

[2022-02-17 08:22] leisim commented on #238
@flocbit Could you give an example use case for this?

[2022-02-17 09:02] volund opened #252 "Minor miscellaneous typos"
Greetings,

There are minor typos in the documentation:

On the page https://isar.dev/crud.html#opening-isar:

[code]

`loose` should probably be `lose` and `commited` should probably be `committed`.

On the page https://isar.dev/links.html#isarlinks:

[code]

`loosing` should probably be `losing`.

By the way thank you for this amazing project. The documentation is excellent and the presentation

[2022-02-17 09:19] leisim commented on #252
Haha great findings! Would you mind opening a PR? Thanks a lot 🙂 https://github.com/isar/docs

[2022-02-17 11:00] wferem1 opened #253 "Add support for encryption"
**Is your feature request related to a problem? Please describe.**
Allow for encryption of the database

**Describe the solution you'd like**
specify an encryption key which encrypts the isar database

**Describe alternatives you've considered**
I used hive, but I needed queries, so that's why i want to migrate to Isar. However, without encryption of the data, this won't be possible since the app

[2022-02-17 11:06] leisim commented on #253
This is not planned at the moment on in foreseeable future. Please see #199

[2022-02-17 11:06] #253 closed

[2022-02-17 11:09] volund commented on #252
My first github PR. It was easier than I thought.

https://github.com/isar/docs/pull/12

[2022-02-17 11:32] leisim commented on #252
Wohoo great job 🎉
Thank you!

[2022-02-17 11:32] #252 closed

[2022-02-17 16:50] leisim commented on #249
I'm going to close this in favor of #196

[2022-02-17 16:50] #249 closed

[2022-02-18 04:09] frogman1189 commented on #219
Hi leisim, thanks for the quick response.
The new package initially worked really well for me, but over time I've found that the issue is still occurring.
As of earlier today I had this bug triggering predictably (and very often) in my main project, but I haven't managed to pinpoint it well enough to create a minimal example yet.
If I was to guess it'd be related to the save function, as once it h

[2022-02-18 06:38] leisim commented on #219
@frogman1189 I'm sorry to hear that. Let's reopen the issue then. It would be a massive help if you could share an example once you find how to reproduce it 🙌

[2022-02-18 07:12] leisim commented on #247
Hey, the result works for me as expected. The query returns both objects so the assert will always throw.

I strongly recommend not to use dynamic queries as it is easy to make mistakes :)

[2022-02-18 07:12] #247 closed

[2022-02-18 07:37] leisim commented on #236
The reason for your problem is that your type adapter only accepts `Teacher` but your property is of type `Teacher?`.

[2022-02-18 07:37] #236 closed

[2022-02-18 08:53] flocbit commented on #238
@leisim  Let's say I have a ListView listing all teachers. Each ListTile shows a teacher's name and the number of students as subtitle (e.g. `2 students`).

In order to calculate the number of students one has to load all students into memory (as far as I understand current querying functionality) with a separate query before counting and showing them in subtitle.

With a lazily loaded `teachers.s

[2022-02-18 10:05] leisim commented on #238
@richard457 @flocbit I like the idea. How about we allow all operations of a query for `IsarLinks` then you can also sort, aggregate and filter links?

[2022-02-18 10:40] flocbit commented on #238
@leisim that would be even better! :)

[2022-02-18 12:54] leisim commented on #192
fixed :)

[2022-02-18 13:03] CodeDoctorDE commented on #237
Duplicate of #90 ?

[2022-02-18 13:04] leisim commented on #237
@CodeDoctorDE Oh yes, thanks!

[2022-02-18 13:04] #237 closed

[2022-02-19 11:51] barbalex commented on #48
This caught me again, using a new notebook. I do feel that explicitely mentioning this in the quickstart might help some other devs too. It really hits me hard that 32bit is the standard android studio creates.

Thanks for this really great project. It is so great that I miss it when creating pure web projects...

[2022-02-19 13:29] leisim commented on #48
@barbalex With "pure web" do you mean Flutter web or normal web projects? Because Isar supports Flutter web now :)

[2022-02-19 14:05] barbalex commented on #48
I am a web dev. Most of my projects use JavaScript and react. [My last web project](https://github.com/barbalex/vermehrung) is offline-capable and deals very nicely with conflicts. I am actually rather proud of it.

Unfortunately offline-capable is not something Apple allows web-apps to be. They limit offline storage to [5 MB](https://stackoverflow.com/questions/7245462/html5-localstorage-space-li

[2022-02-19 14:10] leisim commented on #48
That might be true for localstorage but certainly not for IndexedDB (what Isar uses). Afaik iOS allows at least 500mb of indexeddb storage, most of the time far more.

WatermelonDB also uses IndexedDB

[2022-02-19 14:17] barbalex commented on #48
Hm. You are right. I guess I will have to dig deeper. There certainly is something preventing my app from running on iOS but as I do not have iOS devices myself I have not been able to look at it closely.

I may have given up a bit prematurely because I have run into so many issues on iOS with other apps too. iOS/Safari truly seems to be the new Internet Explorer 😭

[2022-02-19 14:30] jtzell commented on #247
The query mean to search for orderline with productId = "product-03". I create only 2 orderline; one with productId = "product-01" and the other with productId = "product-02".

However, both orderline shared the same orderId, which is "order-01".

The query of where orderId = "order-01" AND productId = "product-03" should return 0 results.

I'm trying do covert custom query syntax into Isar `Where

[2022-02-19 14:35] leisim commented on #247
Important: Where clauses are combined using logical **OR**
https://isar.dev/queries.html#where-clauses

Your query equals `orderId == 'order-01' || productId == 'product-03'`.

You can use filters for logical **AND**

[2022-02-19 14:36] leisim commented on #48
I just tried it on an iPhone 13 and you can store 1GB without issues and then you get a prompt for every 200MB increase asking whether you want to allow it 🙂

[2022-02-19 18:39] Anan-Saadi commented on #209
after following #236 I was able to make the convertor work for storing a single `Message` not `List<Message>`

adding `print` to `fromIsar` and `toIsar` to check the `json` response shows that when storing a `Message` there is indeed encoding and decoding happening, but when trying to store a list nothing gets invoked, which makes me believe that there is nothing getting passed to the `convertor`,

[2022-02-20 09:18] leisim commented on #209
Isar ignores fields with unknown types and it can't use a `Message` `TypeConverter` to handle a `List<Message>` yet.

[2022-02-20 09:37] anandsubbu007 opened #263 "App crash when multiple query thread runs in backroung."
Platform: windows

isar is really fast.

when multiple queries run in a loop on one page.
when I switch that page due to too much load.
app crash

[2022-02-20 09:40] leisim commented on #263
Could you provide some sample code or at least an exception and steps to reproduce it? Otherwise I'm unable to help 🙁

[2022-02-20 10:06] anandsubbu007 commented on #263
can't able find any details (exception) in debug console.

[2022-02-20 10:54] Anan-Saadi commented on #209
So how is the convertor supposed to work in this case?

Should it convert a `List<Message>` to a single `String` or to `List<String>` ?

[2022-02-20 10:56] leisim commented on #209
That is up to you. Both works

[2022-02-20 11:11] leisim commented on #263
I'm sorry, I cannot help without example code or an exception. Please reopen once you have more information 🙌

[2022-02-20 11:11] #263 closed

[2022-02-20 13:32] leisim commented on #6
Done :)

[2022-02-20 13:32] #6 closed

[2022-02-20 13:33] richard457 commented on #2
Also is open source https://github.com/CondensationDS/Condensation

[2022-02-20 13:34] leisim commented on #222
I thought about this and I think it's better to keep the API simple and consistent. The requested feature can be achieved easily with custom extension methods so I'm going to close this for now :)

[2022-02-20 13:34] #222 closed

[2022-02-20 13:46] richard457 commented on #2
I like that it has Peer-to-peer synchronisation which I believe in my opinion adding to isar will add more value than the competitor.

[2022-02-20 19:05] tomasweigenast commented on #135
Maybe we can try a better full text search algorithm instead of only fuzzy search

[2022-02-20 19:57] leisim commented on #135
@tomasweigenast Do you have an example? Maybe from other embedded databases 🙂

[2022-02-20 20:00] leisim commented on #209
@Anan-Saadi do you think we can close this issue?

[2022-02-20 20:11] om-ha commented on #225
Eagerly waiting for https://github.com/erthink/libmdbx/issues/267 to be merged from `devel` into `master` (0.11.5) 😄😄

[2022-02-20 20:12] leisim commented on #225
Me too haha

[2022-02-20 20:26] Anan-Saadi commented on #209
I still haven't created a working convertor yet, which doesn't answer the original question "How to write a convertor for this class", after I do it I'll post the convertor here.

I'll also add to the docs if you are interested since right now it only includes an example for enum

[2022-02-21 04:42] pkd234 opened #264 "Getting error when running build runner command"
**Error**
[code]

**Code sample**
[code]

**Version**
 - Flutter version: 2.5.3
 - Isar version: 2.2.1
 - Isar Generator version: 2.2.1

[2022-02-21 12:00] pkd234 commented on #264
**issue resolved**

its now working after updating flutter to latest version i.e ` 2.10.2`

[2022-02-21 22:22] duduf15 commented on #196
Same problem here, I discovered Isar for a new project. I wonder if Isar is optimized for models with many relationships? Thank you @leisim

[2022-02-21 22:32] leisim commented on #219
That is incredibly helpful! Thanks so much for taking the time. Please give me a few days to investigate it :)

[2022-02-22 20:07] electrooz commented on #187
Getting the same on Alcatel 1 5033X | Android 8.1 Oreo (Go edition) | Cortex-A53. Hopefully it's fixed soon.

[2022-02-23 03:33] krsikarya commented on #219
@leisim this is must have feature.

[2022-02-23 05:05] jamieastley commented on #2
Just noticed that Isar fails to load when opening my Flutter Web site in Safari with
`Can't find variable: BroadcastChannel`

... before opening a new issue- is this expected and related to the lacking WASM features mentioned above?

[2022-02-23 09:14] #264 closed

[2022-02-23 18:04] richard457 opened #268 "IsarError (IsarError: Cannot open Environment: MdbxError (22): Invalid argument)"
**Steps to Reproduce**

**Code sample**
[code]

**Version**
 - Platform:Android, 4x ARM Cortex-A7
 - Flutter version: Version 10.0.19042.1526
 - Isar version:isar: ^2.2.0+1
 - Isar Generator version: ^2.2.0+1

[2022-02-23 18:08] richard457 commented on #268
I know ARM Cortex-A7 is 32, but I used to run a 64-bit app on it. but it seems like it does not work with isar @leisim

[2022-02-23 18:29] #268 closed

[2022-02-23 18:29] richard457 commented on #187
I posted this https://github.com/isar/isar/issues/268 without consulting this here, so closing other one.

[2022-02-24 00:41] spatialbits commented on #225
[Fix has landed ](https://github.com/erthink/libmdbx/releases/tag/v0.11.5) :)

[2022-02-24 00:46] mny459 commented on #251
same issue, change <String, Object> to  <String, dynamic> works for me

[2022-02-24 17:08] JsonLinesCode commented on #187
Looks like there is a new libmdbx release🤞

[2022-02-24 17:23] spatialbits commented on #187
Yeah he specifically mentions @leisim in it. Looks promising :)

[2022-02-24 18:52] richard457 commented on #187
We can't wait, can't release my app now because of this error.

[2022-02-26 12:58] leisim commented on #225
I'm already working on an update. It will also contains some Link improvements (arbitrary queries can now be performed on links)

[2022-02-26 18:46] gcostaapps opened #269 "Error when loading link "Failed to lookup symbol 'isar_link_get_first'""
**Steps to Reproduce**
When I'm trying to load link data in my unit tests I'm getting error, couldn't find something wrong in my code.

**Code sample**
[code]

**Version**
 - Platform: Windows
 - Flutter version: [e.g. 2.11.0-0.1.pre]
 - Isar version: [e.g. 2.2.1]
 - Isar Generator version: [e.g. 2.2.1]

[2022-02-28 08:26] blaugold opened #270 "`IsarLink.loadSync` throws exception in read transaction"
**Steps to Reproduce**

1. Use `txnSync` to start a sync read transaction
2. Call `loadSync` on an `IsarLink`
3. An exception is thrown: IsarError: Operation cannot be performed within a read transaction.

It looks to me like a write transaction is requested in `loadSync` when it should be a read transaction:
https://github.com/isar/isar/blob/a684c7d9c1e5809d6cb5b14187d712e618a05150/packages/isar/

[2022-02-28 13:46] richard457 commented on #2
Would like to suggest sync to have some sort of routing data something similar to https://docs.couchbase.com/sync-gateway/current/channels.html This is important because of the following reasons

1. Managing access to data to multiple users
2. Control who can access what
3. Enable users to access just the data they need
4. Minimize the amount of data synced to mobile devices

[2022-03-01 05:05] rizzi37 opened #271 "[bug] index caseSensitive: false not work"
[code]

[2022-03-01 07:23] volund opened #272 "App crashes when setting a backlink manually"
**Steps to Reproduce**
I do not currently have a minimal example that reproduces the crash. It crashes repeatedly in large app, and the cause seems to be me setting a backlink's value (unnecessarily). I have tried to reproduce the issue with a minimal example but so far have been unable to.

However this is the stacktrace I get with GDB:

[code]

And this is the stack trace I get when running with

[2022-03-01 07:26] volund commented on #272
Is there a way for me to (further) symbolicate the crash report?

[2022-03-01 14:59] 0htls opened #273 "Watch by unique index"
[code]

[2022-03-01 15:58] leisim commented on #273
What would you expect this operation to do?

[2022-03-01 16:40] 0htls commented on #273
Just like watchObject(id).

Currently
[code]

[2022-03-01 18:30] Anan-Saadi commented on #209
I was able to finally write a working convertor, and it turned out to be simpler than I expected (I guess @leisim did all the heavy lifting), anyway, the convertor turned out to be just a `json` encoder that turns the list into a single `String`

[code]
encode & decode list:
[code]

Also @leisim, would you like me to update the docs? Since it is quite unclear what you have to do in such case by ju

[2022-03-02 09:48] #217 closed

[2022-03-02 14:22] jpolstre commented on #187
Thanks for this work, is there any progress to fix this error?

[2022-03-02 15:58] PoloLacoste opened #277 "Latest version of Isar generator is not compatible with latest version of bloc_test"
**Steps to Reproduce**
- Adding latest version of `bloc_test` (9.0.3)
- Adding latest version of `isar_generator` (2.2.1)
- `flutter pub get`

**Code sample**
[code]

**Version**
 - Platform: Android
 - Flutter version: 2.10.2
 - Isar version: 2.2.1
 - Isar Generator version: 2.2.1

I don't really know if I should open this issue on the BloC git repository (@felangel 👋) or here.

[2022-03-02 16:20] felangel commented on #277
Duplicate of https://github.com/felangel/bloc/issues/3110

[2022-03-02 21:36] JPM84 commented on #203
Similar issue here. Happens also when build from source.
But was able to connect after realizing that **/ws** is missing in the url. `ws://127.0.0.1:58955/MY_TOKEN/ws`.
[code]

[2022-03-02 22:21] wardy484 commented on #238
🙌  I was literally about to raise a request for sorting on links.

[2022-03-02 22:48] wardy484 opened #278 "Dump / Import Database"
The ability to dump my database to a file that can be re-imported later would be a huge boon to development and debugging.

I'm quite open to that fact that I might be missing something really obvious but if not then just being able to drop a local database to a json file (or something less human readable) and equally re-import.

I appreciate this _could_ be implemented locally with some reads/wri

[2022-03-02 23:19] hygehyge commented on #278
+1.
Currently, I copy mdbx.dat for this purpose.
But this is rely on the implemantation and will be invalid in the future.
On the other hand, there is `Query.exportJson()` and `IsarCollection.importJson()`.
What is the recommended way ?

[2022-03-03 05:50] appano1 opened #279 "isar.clear() makes auto incremented id to int.MIN"
**Steps to Reproduce**
isar.clear() makes auto incremented id to int.MIN (-9223372036854775807)

**Code sample**
[code]

**Version**
 - Platform: iOS
 - Flutter version: 2.10.2
 - Isar version: 2.2.1
 - Isar Generator version: 2.2.1

[2022-03-03 06:58] appano1 opened #280 "sortById() / sortByIdDesc() throw Unhandled Exception (Unknown property "id")"
**Steps to Reproduce**
sortById() and sortByIdDesc() throw Unhandled Exception: Unknown property "id"
I think Isar generator doesn't generate id in CollectionSchema.propertyIds

**Code sample**
[code]

**Error details**
[code]

**Version**
 - Platform: iOS
 - Flutter version: 2.10.2
 - Isar version: 2.2.1
 - Isar Generator version: 2.2.1

[2022-03-03 08:56] rizzi37 commented on #280
check your model, if the manual id, needs to use @Id() or null makes it an auto-increment.

[2022-03-03 08:57] rizzi37 commented on #279
what's your expectation?

[2022-03-03 14:06] ozayr commented on #280
Having the same issue, on
`await isar.someObjs.where().anyIndexField.idProperty().findAll();`

same versions and platform as above

[2022-03-03 14:14] rizzi37 commented on #280
show your model code plz

[2022-03-03 14:34] ozayr commented on #280
`
@freezed
@Collection()
class PatientFile with _$PatientFile {

  const factory PatientFile({
   int? id,
    required String idNumber,
    required String name,
    required String surname,
  }) = _PatientFile;

  factory PatientFile.fromJson(Map<String, dynamic> json) =>
      _$PatientFileFromJson(json);

}

`

[2022-03-03 14:35] ozayr commented on #280
`@freezed
@Collection()
class PatientFile with _$PatientFile {

  const factory PatientFile({
   int? id,
    required String idNumber,
    required String name,
    required String surname,
  }) = _PatientFile;

  factory PatientFile.fromJson(Map<String, dynamic> json) =>
      _$PatientFileFromJson(json);

}`

[2022-03-03 14:37] ozayr commented on #280
[code]

[2022-03-04 01:08] appano1 commented on #279
I expected id 1.
I want to reset db to the initial state for testing or handling user log out event...
Whenever hot restart in test environment, I had to make the object first id 1.

[2022-03-04 01:23] appano1 commented on #280
I tested many version of my models
When I use `.where(sort: any)`, I can use normally.

I can solve the error by adding property to the generated file.

**before**
[code]

**after**
[code]

[2022-03-04 02:11] richard457 commented on #187
@leisim any progress?

[2022-03-04 17:35] electrooz commented on #187
The issue has been closed so I assume no progress. https://github.com/erthink/libmdbx/issues/262

[2022-03-04 18:07] spatialbits commented on #187
@electrooz I could be wrong but I suspect the fix was done in https://github.com/erthink/libmdbx/issues/267

[2022-03-04 18:31] electrooz commented on #187
I think that's only for iOS. @spatialbits

[2022-03-04 18:36] spatialbits commented on #187
Yeah but it seemed to be related to setting the memory geometry size or something, which seemed to be related to both issues. I dunno though, I _should_ know how how libmdbx work but I don't reallly.

[2022-03-04 20:46] electrooz commented on #187
Was I supposed to change my version in `pubspec.yaml`? I'm on `2.2.1`.

I'm still getting the same issue on an Alcatel 1 5033X.

[code]

[2022-03-07 08:14] red-star25 commented on #217
What's the solution to this problem?

[2022-03-08 05:12] hygehyge opened #281 "Isar Error: Could not initialize IsarCore library"
When I run Flutter app on Android 5 emulator, below error is occurred.
![image](https://user-images.githubusercontent.com/30744088/157168817-2d46eafd-871b-4760-b8e1-1a30cb836b40.png)
Emulator's image is for x86_64, so I think this is running under 64 bit.
![image](https://user-images.githubusercontent.com/30744088/157169254-87288161-ea16-43ee-85d1-2b0961affd8c.png)

Here is dependency definitions

[2022-03-08 15:17] marcorossitb opened #282 "Cannot assign dynamic id when adding items to IsarLinks<T>()"
**Steps to Reproduce**
I got this simple 1:N structure where a `ApiResponse` can have multiple `MyItem`.

`MyItem` has already a property named 'Id' obtained from apis so I created the isar id with an other name (offId) and the "@ Id" annotation.

My goal is to assign to 'offId' (off stands for offline) the hashcode of 'Id' because it's a string.
If I try not assigning manually 'offId' the items a

[2022-03-09 09:21] Faaatman commented on #217
@red-star25 the developer merged fix #274  a couple of days ago and I guess will be releasing a new version with the fix soon. we just have to be patient :).

[2022-03-09 13:24] marcorossitb commented on #282
I tried to look inside the "save" method of the IsarLinks to better understand and I made a edit that makes the save works (with custom ids).
**File**: isar_link_impl.dart
**Method**: `Future<void> save()` at row 147.

**Edit**, row 169:
[code]

This correctly save my items with my custom Id. For sure the logic could be wrong for other cases but I think it's a start point to better understand the

[2022-03-10 01:12] devr0306 commented on #48
How do we include them?

[2022-03-10 17:44] richard457 commented on #2
@leisim an update on this?

[2022-03-10 22:07] czaku opened #287 "Cannot distribute as IPA generation fails due to isar post Archiving"
**Steps to Reproduce**
Build, then archive, then distribute as IPA

I am not even using isar, just added in pubspec.yaml and as the build was triggered in codemagic I noticed all the builds for iOS started failing

**Code sample**
[code]

**Version**
 - Platform: iOS
 - Flutter version: 2.10.3
 - Isar version: 2.2.1
 - Isar Generator version: 2.2.1

[2022-03-11 07:25] alarkirikal commented on #277
@felangel The possible solution there to install a downgraded version of `freezed` does not work though - I have a similar issue where it's not possible to add `isar_generator` to the project because we're using `test: any`
[code]

[2022-03-12 09:08] krillefear opened #288 "Does not load when packaged on Linux"
**Steps to Reproduce**
1. Create a simple Flutter app with Isar
2. Build it for Linux using a snapcraft file
3. Install the snap and run it
4. Isar crashes

**Logs**
[code]

**Version**
 - Platform: Ubuntu 20.04
 - Flutter version: [2.10.2]
 - Isar version: [2.2.1]
 - Isar Generator version: [2.2.1]

[2022-03-12 19:35] Musta-Pollo opened #289 "Small tip to improve docs - how to access the Isar instance without passing it through"
When I first played with Isar, I couldn't access the Isar instance in other parts of the program without passing it through widgets.

I found it later on, but I think that adding a small section to the documentation, how to access it would be beneficial for people starting with it.

[2022-03-12 22:12] seifalmotaz opened #290 "Unhandled Exception: RangeError (end): Invalid value: Only valid value is 0: -1"
I have error with `andOrInternal` when I execute it it returns error:

[code]

**Version**
 - Platform: Windows
 - Flutter version: 2.10.3
 - Isar version: 2.2.1
 - isar_flutter_libs version: 2.2.1
 - Isar Generator version: 2.2.1

[2022-03-13 01:00] qoob23 commented on #197
Hi! Kinda found a solution. It comes with a cost of losing const constructors and having to have common properties (if you don't use unions, it is not a disadvantage), but works:
[code]
The output is `{Teacher(id: 4, name: Ann), Teacher(id: 3, name: John)}`

[2022-03-13 12:29] qoob23 commented on #197
@leisim Isar.autoIncrement is a final property that has a const value assigned to it. It would be better to make it const to be able to use it in freezed's @Default() annotation instead of always making id nullable.

[2022-03-13 12:43] mafejzuli commented on #277
A temporary solution could be to override the analyzer dependency with:
[code]
At least my tests still work fine.

[2022-03-13 17:47] ValeriusGC opened #291 "Example has crashed at start"
As mentioned in documentation an example [is here](https://github.com/isar/samples/tree/main/quotes)
But it crashes at start on emulator and android device with exception:
[code]
**flutter doctor**
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.10.2, on Ubuntu 20.04.4 LTS 5.13.0-35-generic, locale en_US.UTF-8)

[2022-03-14 10:41] richard457 commented on #291
@ValeriusGC which platform are you running the sample on?

[2022-03-14 10:47] richard457 commented on #291
is it 64 bit? because 32 bit is not supported there is a bug that needs to be fixed. https://github.com/isar/isar/issues/187

[2022-03-14 13:58] ahalunetsvisionable opened #292 "Add encryption support"
Can you add database encryption support as in `Hive`?
This is very important for medical and financial projects.

[2022-03-14 14:19] modeckrus opened #293 "Use Dart Server With Isar"
[code]
use this to run without flutter on pure dart

[2022-03-14 19:17] wildaces215 opened #294 "Unit testing and how to get started?"
Is there a way or an example to get started writing unit test cases for production apps?

[2022-03-14 20:27] richard457 commented on #293
I think the issue is not very clear, could you elaborate more on this?

[2022-03-14 22:16] Anan-Saadi commented on #292
This is not a priority right now as mentioned here #176

[2022-03-14 22:56] #290 closed

[2022-03-15 11:34] JsonLinesCode commented on #187
Hey, no news about this for quite a while, anyone made a fork fixing the issue by updating the dependencies or could make it ?

[2022-03-15 11:56] arv-aks opened #295 "Nothing is happening when click on connect button after entering url"
unable to connect to isar inspector.
Need a documentation .

[2022-03-15 13:25] marcorossitb commented on #295
I think it's because no Isar instance is open. Not sure

[2022-03-15 15:49] arv-aks commented on #295
Isar instance is opened and I am doing transactions i.e. writeTxn -> collection.put , and this is working.
The process I am following is : running my app in android device. and launching isar inspector. is this correct?

[2022-03-15 16:43] MrDave05 commented on #280
Is this issue being resolved? using `.where(sort: any)` does nothing, adding the id to `propertyIds` does nothing also.

Version

- Platform: Windows
- Flutter version: Flutter (Channel master, 2.11.0-0.0.pre.798, on Microsoft Windows [Version 10.0.19043.1586], locale en-GB)
- Isar version: 2.2.1
- Isar Generator version: 2.2.1

[2022-03-15 17:19] ozayr commented on #280
Got around this by creating a new field in model and copying the id to it if I find the id field of the model to be null. I can then sort and query by it and set it as an index

[2022-03-15 17:35] ozayr commented on #280
Got around this by creating a new field in model and copying the id to it if I find the id field of the model to be null. I can then sort and query by it and set it as an index

[2022-03-15 21:31] FredJul opened #296 "Exception thrown during load of a backlink"
**Steps to Reproduce**
By trying to load a backlink. There is not much documentation about backlink so I guessed we simply need to load the backlink to retrieve the target.

However, when I try, I get this exception:
[code]

It is clearly possible I missed something, but in that case I believe the documentation could be a bit more explicit.

**Code sample**
If we take the sample classes, we can tr

[2022-03-15 21:47] FredJul opened #297 "Support multiple instances with different schemas"
**Is your feature request related to a problem? Please describe.**
Isar allows to instanciate several Isar objects, but they need to have the same schemas. I'm currently developing a big professional app and would like to have one global database with global data and one per user with user's data, so that I am sure I cannot accidently read/delete others user data (the device can be use by several

[2022-03-16 04:40] richard457 commented on #297
In the https://github.com/isar/isar/issues/2 feature, I suggested having channels as a way to grant access to some user data, this way you can not have access to data in the first place if you are not granted access to it.

[2022-03-16 08:06] FredJul commented on #297
@richard457 that seems powerful but quite complex, and I doubt this will be even possible until https://github.com/erthink/libmdbx supports something similar.

I believe my proposal to be much simpler and doable in Isar itself.

[2022-03-16 14:40] dev-thinks commented on #217
@leisim looks like the fix for this issue has been merged. looking forward to get a release. thank you.